<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout/myPage_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset = "UTF-8">
    <title>상품 등록</title>
    	
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    
    <!-- Product -->
    <link rel="stylesheet" type="text/css" href="/productDesign/vendor/bootstrap/css/bootstrap.min.css">	
	<link rel="stylesheet" type="text/css" href="/productDesign/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/productDesign/fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="/productDesign/fonts/linearicons-v1.0.0/icon-font.min.css">
	
	<link rel="stylesheet" type="text/css" href="/productDesign/vendor/select2/select2.min.css">
		
	<link rel="stylesheet" type="text/css" href="/productDesign/css/util.css">
	<link rel="stylesheet" type="text/css" href="/productDesign/css/main.css">	
	
	<style>
	
 		.form-group{ 
			margin-top:10px ; 	 
		}
		
		h5,span{font-family: 'Nanum Gothic Coding', monospace;}
		
		#optionIndex{
			margin-top: 20px;	
		}
		
    </style>
    
    <script type="text/javascript">
    	$(document).ready(function() {
			console.log('ready');

			optionAdd();
		});
		
    	function optionAdd() {
			console.log('optionadd');
			var optionIndex = 0;
			//$("#fileIndex").append("<div><input type='file' style='float:left;' name='file_"+(fileIndex++)+"'>"+"<button type='button' style='float:right;' id='fileAddBtn'>"+"추가"+"</button></div>");
			$("#optionAdd_btn").on("click",	function() {
				console.log('옵션추가');
				
				$("#optionIndex").append(
					
					"<div  class='row p-b-25'>"
					
						+ "<div class='col-sm-8 p-b-5'>"
							+ "<input type='text' class='size-111 bor8 stext-102 cl2 p-lr-20' name='productOptions[" + optionIndex + "].productName' id='productOptions' placeholder='옵션명' />" 
						+ "</div>"
						
						+ "<div class='col-sm-2 p-b-5'>"
							+ "<input type='text' class='size-111 bor8 stext-102 cl2 p-lr-20' name='productOptions[" + optionIndex +"].productQuantity' placeholder='수량'>"
						+ "</div>"
						
						+ "<div class='col-sm-2 p-b-5'>"
							+ "<button type='button' id='optionDelBtn'><img src='/productDesign/images/icons/icon-close2.png' /></button>"
						+ "</div>"
						
					+ "</div>"
									  
				);
				
				optionIndex++;
				console.log(optionIndex);
			});

			$(document).on("click", "#optionDelBtn", function() {
				$(this).parent().parent().remove();
				optionIndex--;
			});

		};
		
		$(function(){
			
			 $('#summernote').summernote({
					// 에디터 높이
			        height: 300,
			        // 에디터 한글 설정
			        lang: "ko-KR",
			        // 에디터에 커서 이동 (input창의 autofocus라고 생각)
			        focus : true,
			        toolbar: [
			            // 글꼴 설정
			            ['fontname', ['fontname']],
			            // 글자 크기 설정
			            ['fontsize', ['fontsize']],
			            // 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
			            ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
			            // 글자색
			            ['color', ['forecolor','color']],
			            // 표만들기
			            ['table', ['table']],
			            // 글머리 기호, 번호매기기, 문단정렬
			            ['para', ['ul', 'ol', 'paragraph']],
			            // 줄간격
			            ['height', ['height']],
			         	// 그림첨부
			            ['insert', ['picture']],
			            // 코드보기, 확대해서보기, 도움말
			            ['view', ['fullscreen', 'help']]			            
			        ],
			        // 추가한 글꼴
			        fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋음체','바탕체'],
			        // 추가한 폰트사이즈
			        fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72'],
			        
			        callbacks: {
			            onImageUpload: function(files, editor, welEditable) {
			            	// 파일 업로드(다중업로드를 위해 반복문 사용)
			            	for(var i=files.length-1; i>=0; i--){
			            		console.log("aaa");
			            		uploadSummernoteImageFile(files[i], this);	
			            	}
			            }
			        }
			 });			
		});
		
		function uploadSummernoteImageFile(file, el) {
			console.log("bbb");
			data = new FormData();
			data.append('file', file);
			$.ajax({
				data: data,
				type: "POST",
				url: "/product/json/uploadSummernoteImageFile",
				contentType: false,
				enctype: "multipart/form-data",
				processData: false,
				success: function(data){
					console.log(data.url);
            		$(el).summernote("editor.insertImage", data.url);				
				}				
			});
		}
		
    </script>
</head>
<body>
<article  class="py-5" layout:fragment="content">

	<!-- Content page -->
	<section class="bg0 p-t-52 p-b-20">
		<div class="container">
			<div class="row">
				
				<!-- 왼쪽 -->
				<div class="col-md-8 col-lg-9 p-b-80">
					<div class="p-r-45 p-r-0-lg">
						
						<div class="p-t-40">
						
							<form th:action="@{/product/addProduct}" method="post" name="addProductForm" id="addProductForm" enctype="multipart/form-data">

								<div class="bor19 m-b-20">
									<input class="stext-111 cl2 plh3 size-116 p-lr-18" type="text" name="productName" placeholder="상품명 *">
								</div>

								<div class="bor19 m-b-20">
									<input class="stext-111 cl2 plh3 size-116 p-lr-18" type="text" name="productPrice" placeholder="가격 *">
								</div>

								<div class="bor19 m-b-30">
									<input class="stext-111 cl2 plh3 size-111 p-lr-18" type="text" name="productQuantity" placeholder="수량">
								</div>

								<button type="button" id="optionAdd_btn" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									옵션추가
								</button>
								
								<div id="optionIndex">
									<!-- 
									<div  class="row p-b-25">
										
										<div class="col-sm-6 p-b-5">
											<input class="size-111 bor8 stext-102 cl2 p-lr-20" id="name" type="text" name="name">
										</div>
								
										<div class="col-sm-4 p-b-5">
											<input class="size-111 bor8 stext-102 cl2 p-lr-20" id="email" type="text" name="email">
										</div>
										
										<div class="col-sm-2 p-b-5">
											<button type="button"><img src="/productDesign/images/icons/icon-close2.png" /></button>
										</div>
										
									</div>
									-->
								</div>
								
								<!--  상품이미지 -->
								<div class="bor19 m-b-20">
									<label for="mainImage" class="col-sm-offset-1 col-sm-3 control-label">상품 메인 이미지</label>
									<div class="col-sm-4">
										<input type="file" class="stext-111 cl2 plh3 size-111 p-lr-18" id="mainImage" name="mainImage" />
									</div>
								</div>
								
								<div class="bor19 m-b-20">
									<label for="subImage" class="col-sm-offset-1 col-sm-3 control-label">상품 추가 이미지</label>
									<div class="col-sm-4">
										<input type="file" class="stext-111 cl2 plh3 size-111 p-lr-18" id="subImage" name="subImage" multiple />
									</div>
								
								</div>
								
								<div class="bor19 m-b-20">
									<textarea id="summernote" name="productDetail" rows="10"></textarea>
								</div>
								
								<button class="btn btn-d btn-circle" type="submit">상품등록</button>
								
							</form>
							<!-- ============= -->
						</div>
						
					</div>
				</div>	
				<!-- ========== -->
				
				<!-- sidebar -->
				<div class="col-md-4 col-lg-3 p-b-80">
					<div class="side-menu">
												
						<div class="p-t-55">
							
							<h6 class="stext-116 cl8 trans-04">
								Category
							</h6>
							
							<div class="rs1-select2 rs2-select2 bor8 bg0 m-b-12 m-t-9">
								<select class="js-select2" name="searchCategory">
									<option value="">선택</option>
									<option value="01">식품</option>
									<option value="02">생활</option>
									<option value="03">뷰티</option>
									<option value="04">패션</option>
									<option value="05">인테리어</option>
								</select>
								<div class="dropDownSelect2"></div>
							</div>
						
						</div>					
						
					</div>
				</div>	
				<!-- =========== -->
				
				
			</div>
		</div>
	</section>	
	<!-- =========== -->
	<script src="/productDesign/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function () {
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!-- =========== -->
		
	
</article>
</body>
</html>