<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/default_layout}">
<head>
    <meta charset = "UTF-8">
    <title>문의 목록</title>
	
	<style>
	
 		.form-group{ 
			margin-top:10px ; 	 
		}
		
		h5,span{font-family: 'Nanum Gothic Coding', monospace;}
		
    </style>
    
    <script type="text/javascript">
    
    	function fncGetList(currentPage) {
			$("#currentPage").val(currentPage);	
			$("form").submit();		
		}
    	
    	$(function(){
			
			$(".getInquiry").on("click", function () {
				
				let inquiryNumber = $(this).parent().children("input[type=hidden]").val();
				console.log("inquiryNumber : " + inquiryNumber);
				
				$.ajax(
					{
						url: "/inquiry/json/getInquiry/" + inquiryNumber,
						method: "GET",
						dataType: "json",
						headers: {
							"Accept": "application/json",
							"Content-Type": "application/json"
						},
						success: function (JSONData, status) {
							console.log("inquiryContent : " + typeof JSONData.inquiryReplyStatus);
							var displayValue = "<h6>" 
												+ "문의 제목 : " + JSONData.inquiryTitle + "<br/>"
												+ "문의 내용 : " + JSONData.inquiryContent + "<br/>"
												+ "문의 id : " + JSONData.userId + "<br/>";
							if(JSONData.inquiryReplyStatus){
								console.log("aaaa ");
								displayValue += "답변 날짜 : " + JSONData.inquiryReplyDate + "<br/>"
												+ "답변 내용 : " + JSONData.inquiryReplyContent + "<br/>"
												+ "</h6>"	
							}else{
								displayValue += "</h6>"
							}
							$("h6").remove();
							$("#" + inquiryNumber + "").html(displayValue);
												
						}
					})
			});
			
		});
		
    </script>
</head>
<body>
	<article  class="py-5" layout:fragment="content">
		<div class="container">
			<div th:if="${#lists.size(list) > 0}" th:each="inquiry : ${list}">
				
				<p th:if="${inquiry.secret == false}" th:text="${inquiry.inquiryTitle}"></p>
				<p th:if="${inquiry.secret == true}">비밀글</p>
				<!-- 
					<p th:text="${inquiry.inquiryContent}"></p>
					<p th:text="${inquiry.inquiryReplyContent}"></p>
				-->
				<span th:if="${inquiry.inquiryReplyStatus == true}">답변완료</span>
				<span th:if="${inquiry.inquiryReplyStatus == false}">미답변</span>
				<th:block th:if="${inquiry.secret == false or (session.user != null and session.user.id == inquiry.userId)}">
					<button type="button" class="getInquiry">V</button>
				</th:block>
				<div th:id= "${inquiry.inquiryNumber}"></div>
				<input type="hidden" th:value="${inquiry.inquiryNumber}" />	
				
			</div>
		</div>
		
		<nav>
		  <!-- 크기조절 :  pagination-lg pagination-sm-->
		  <ul class="pagination" >
		    
		    <!--  <<== 좌측 nav -->
		  	<th:block th:if="${ resultPage.currentPage <= resultPage.pageUnit }">
		 		<li class="disabled">
			</th:block>
			<th:block th:if="${ resultPage.currentPage > resultPage.pageUnit }">
				<li>
			</th:block>
		      <a th:href="|javascript:fncGetList('${ resultPage.currentPage-1}')|" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    
		    <!--  중앙  -->
			<!--<c:forEach var="i"  begin="${resultPage.beginUnitPage}" end="${resultPage.endUnitPage}" step="1">-->
			<th:block th:each="num : ${#numbers.sequence(resultPage.beginUnitPage,resultPage.endUnitPage)}">	
				<!--<th:block th:if test="${ resultPage.currentPage == num }">-->
					<!--  현재 page 가르킬경우 : active -->
			    <li class="active" th:if="${ resultPage.currentPage == num }">
			    	<a th:href="|javascript:fncGetList('${ num }');|" th:text="${num}"><span class="sr-only">(current)</span></a>
			    </li>	
				
				<!--<c:if test="${ resultPage.currentPage != i}">-->	
				<li th:if="${ resultPage.currentPage != num }">
					<a th:href="|javascript:fncGetList('${ num }');|" th:text="${num}"></a>
				</li>
				<!--</c:if>-->
			</th:block>
		    
		     <!--  우측 nav==>> -->
		     <th:block th:if="${ resultPage.endUnitPage >= resultPage.maxPage }">
		  		<li class="disabled">
			</th:block>
			<th:block th:if="${ resultPage.endUnitPage < resultPage.maxPage }">
				<li>
			</th:block>
		      <a th:href="|javascript:fncGetList('${resultPage.endUnitPage+1}')|" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
	</article>
</body>
</html>