<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout/myPage_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset = "UTF-8">
    <title>나의 리뷰 목록</title>
    
    <link rel="stylesheet" type="text/css" href="/productDesign/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/productDesign/fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="/productDesign/fonts/linearicons-v1.0.0/icon-font.min.css">
	
	<link rel="stylesheet" type="text/css" href="/productDesign/css/util.css">
	<link rel="stylesheet" type="text/css" href="/productDesign/css/main.css">	
	
	<style>
	
 		.form-group{ 
			margin-top:10px ; 	 
		}
		
		h5, span{font-family: 'Nanum Gothic Coding', monospace;}
	
    </style>
    
    <script type="text/javascript">
    
    	function fncGetList(currentPage) {
			$("#currentPage").val(currentPage);	
			$("form").submit();		
		}
    	
    	$(function(){
			
			
			
		});
		
    </script>
</head>
<body>
	<article  class="py-5" layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
					<div class="p-b-30 m-lr-15-sm">
						
						<input type="checkbox" id="checkAll" />
						
						<!-- 리뷰 없음 -->
						<th:block th:if="${#lists.size(list) == 0}">
							<p class="stext-102 cl6">
								리뷰가 없습니다.
							</p>
						</th:block>
						
						<!-- 리뷰 있음 -->
						<th:block th:unless="${#lists.size(list) == 0}" th:each="review : ${list}">
							<input type="checkbox" class="checkReview" />
							<div class="flex-w flex-t p-b-68">								
								
								<div class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-t-6">
									<img th:src="|../img/upload/${ review.reviewImage }|" alt="Review-IMG">
								</div>
								
								<div class="size-207">
									<div class="flex-w flex-sb-m p-b-17">
										<span class="mtext-107 cl2 p-r-20" th:text="${review.userId}">																
										</span>
								
										<span class="fs-18 cl11">
											<th:block th:each="num : ${#numbers.sequence(1, 5)}">
												<i class="zmdi zmdi-star" th:if="${num le review.rating}"></i>
												<i class="zmdi zmdi-star-outline" th:if="${num gt review.rating}"></i>
											</th:block>
										</span>
									</div>
								
									<p class="stext-102 cl6" th:text="${review.reviewContent}">															
									</p>
								</div>
								
							</div>	
						</th:block>
															
					</div>
		</div>
		
		<nav>
		  <!-- 크기조절 :  pagination-lg pagination-sm-->
		  <ul class="pagination" >
		    
		    <!--  <<== 좌측 nav -->
		  	<th:block th:if="${ resultPage.currentPage <= resultPage.pageUnit }">
		 		<li class="disabled">
			</th:block>
			<th:block th:if="${ resultPage.currentPage > resultPage.pageUnit }">
				<li>
			</th:block>
		      <a th:href="|javascript:fncGetList('${ resultPage.currentPage-1}')|" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    
		    <!--  중앙  -->
			<!--<c:forEach var="i"  begin="${resultPage.beginUnitPage}" end="${resultPage.endUnitPage}" step="1">-->
			<th:block th:each="num : ${#numbers.sequence(resultPage.beginUnitPage,resultPage.endUnitPage)}">	
				<!--<th:block th:if test="${ resultPage.currentPage == num }">-->
					<!--  현재 page 가르킬경우 : active -->
			    <li class="active" th:if="${ resultPage.currentPage == num }">
			    	<a th:href="|javascript:fncGetList('${ num }');|" th:text="${num}"><span class="sr-only">(current)</span></a>
			    </li>	
				
				<!--<c:if test="${ resultPage.currentPage != i}">-->	
				<li th:if="${ resultPage.currentPage != num }">
					<a th:href="|javascript:fncGetList('${ num }');|" th:text="${num}"></a>
				</li>
				<!--</c:if>-->
			</th:block>
		    
		     <!--  우측 nav==>> -->
		     <th:block th:if="${ resultPage.endUnitPage >= resultPage.maxPage }">
		  		<li class="disabled">
			</th:block>
			<th:block th:if="${ resultPage.endUnitPage < resultPage.maxPage }">
				<li>
			</th:block>
		      <a th:href="|javascript:fncGetList('${resultPage.endUnitPage+1}')|" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
	</article>
</body>
</html>