<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="설치 없이 가입 즉시 바로 이용할 수 있는 무료 채팅 서비스를 제공 해 드리겠습니다." />
    <meta name="author" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="바로 이용하는 무료 채팅 솔루션" />
    <meta property="og:description" content="설치 없이 가입 즉시 바로 이용할 수 있는 무료 채팅 서비스를 제공 해 드리겠습니다." />
    <meta property="og:image" content="https://www.vchatcloud.com/img/common/og_img.png" />
    <meta property="og:url" content="https://www.vchatcloud.com" />

    <title>라이브커머스형</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
  
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="/css/liveReset.css" rel="stylesheet" />
    <link href="/css/liveStyle.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c13f14f04a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.0/dist/sockjs.min.js"></script>

    <script src="/js/vchatcloud-1.2.0.min.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/like.js"></script>
    <script src="/js/draw.js"></script>

    <script src="/js/errMsg.js"></script>
</head>

<style>
    /* 210625 추가 */
    
    .livecommerce .title p {
    width: 335px;
    font-size: 14px;
    color: #fff;
    line-height: 1.7;
    margin: 15px;
    text-align: left;
   }
    
    .livecommerce .chat {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 320px;
    margin-top: 196px;
   }
    
    .livecommerce .title span {
   
   font-size: 15px;
   color: #fff;
   border-radius: 3px;
   background: #ec2014;
   padding: 2px 10px;
   
   }


    body {
   background-color:black;
   }
   
   video {
   width: 900px;
   }
    
    
    div.livecommerce {
   width: 900px;
   height: 675px;
   position: absolute;
     left: 50%;
     transform: translateX(-50%);
   }
    
    .title p {
        text-align: right;
    }
    
    .title i {
        font-size: 20px;
        color: #fff;
    }
    
</style>

<body>

<script th:inline="javascript">
    
    /*<![CDATA[*/
    function nav() {
   location.href="/";
}

    
    /*]]>*/
    
</script>

   <div id="wrap">
        <section>
            <!-- 샘플 화면 -->
            <div class="livecommerce">
                
                    <div class="my_cam" style="height : 675px"></div>
                    
                    <div class="remote_cam"></div>
               
                <!-- 로그인 -->
                <div class="dim">
                    <div class="login">
                        <p class="login-title">채팅방 설정</p>
                        <div class="name">
                            <label for="name">대화명</label>
                            <input class="name" type="text" id="name" value="" placeholder="로그인 할 대화명을 입력 해주세요.">
                        </div>
                        <button class="popupbtn" onclick="location.href='#!'">확인</a></button>
                    </div>
                </div>
                <!-- 에러 팝업 -->
                <div class="errorpopup">
                    <p><i class="fas fa-exclamation-circle"></i></p>
                    <p>시스템이 원활하지 않아 오류가 발생하였습니다. 잠시 후, 다시 참여해 주시기 바랍니다.</p>
                    <a class="popupbtn" href="#!">닫기</a>
                </div>
                <!-- 커스텀 팝업 -->
                <div class="custompopup">
                    <p>팝업</p>
                    <a class="popupbtn" href="#!">확인</a><a class="popupbtn" href="#!">취소</a>
                </div>
                <!-- 방제 / 채팅방 정보 불러오는 api가 없어 하드코딩 -->
                <article class="title">
                    <p id=roomNm><span>Live</span></p>
                    <!-- 나가기 버튼 -->
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-warning" onclick='nav()'>나가기</button>
                </article>
                <!-- 채팅방 -->
                <article class="chat">
                    <!-- 채팅 -->
                    <div class="chat_contents">
                        <div id="content1">
                        </div>
                    </div>
                    <div class="chat_bottom">
                        <!-- 메시지 작성 -->
                        <div class="chat_input">
                            <div class="textbox" id="content" contenteditable="true" placeholder="메세지 입력하기"></div>
                            <div class="send"><a href="#!" id="sendCounter">전송</a></div>
                        </div>
                        <!-- 좋아요 -->
                        <div class="like">
                            <a href="#!" id="sendLike"><i class="fas fa-heart"></i></a>
                            <span id="likeCounter"></span>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
   
   
   
   
   
        <div class="cam-footer">
          <p class="roomtitle"></p>
          <ul class="cam-btn">
            <li class="mic btn_on" onclick="mic_on_off(this)">
              <img src="https://www.vchatcloud.com/chat-demo/iframe/iframe_rtc_2/img/webRTC/on_mic.png" alt="마이크 재생">
            </li>
            <li class="exit btn_on">
              <img src="https://www.vchatcloud.com/chat-demo/iframe/iframe_rtc_2/img/webRTC/exit.png" alt="화상채팅 종료">
            </li>
            <li class="cam btn_on" onclick="cam_on_off(this)">
              <img src="https://www.vchatcloud.com/chat-demo/iframe/iframe_rtc_2/img/webRTC/on_cam.png" alt="카메라 재생">
            </li>
          </ul>
        </div>
        
        
        
        
        
      </div>
   </div>
</body>

</html>