<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				layout:decorate = "~{layout/customer_default_layout2}"
      			xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      			xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>	
	
	<th:block layout:fragment="title">
	<link th:href="@{/css/customer.css}" rel="stylesheet" />
		<title>faitmain</title>
	</th:block>
	
	
</head>
<body>
<div id = 'wrapper'>
	
	<th:block layout:fragment="content">
	<div class="container">
		<div class="card-content">
			<form class="form-horizontal" th:action="@{/customer/addBoard}" method="post" > <!-- onsubmit="return registerBoard(this)" -->
				<!--/* update의 경우 서버로 전달할 게시글 번호 (PK) */-->
				<!-- <input type="hidden" th:if="*{boardNumber = null and boardNumber != 0}" th:field="*{boardNumber}" /> -->
 
				<!-- <div class="form-group">
					<label for="highlightNoticeYn" class="col-sm-2 control-label">강조 설정</label>
					<div class="col-sm-10" style="margin-top: 10px;">
						<input type="checkbox" th:value="*{highlightNoticeYn}" id="highlightNoticeYn" name="highlightNoticeYn" th:checked="*{#strings.equals( highlightNoticeYn, 'Y' )}" />
					</div>
				</div> -->
				
				<input type="hidden" name="boardType" value='N'/> 
				<h4>공지사항 등록</h4>
				<hr />
				 
				<div class="form-group">
					<label for="title" class="col-sm-2 control-label">제목</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="boardTitle" placeholder="제목을 입력해 주세요." />
						
						<div id='result'></div>
					</div>
				</div>

				<div class="form-group">
					<label for="writer" class="col-sm-2 control-label">아이디</label>
					<div class="col-sm-10">
						<input type="text"  class="form-control" name="customerId.id" th:value="${#authentication.principal.user.id}" readonly />
					</div>
				</div>

				<div class="form-group">
					<label for="content" class="col-sm-2 control-label">내용</label>
					<div class="col-sm-10">
						<textarea class="form-control" name="boardContent" placeholder="내용을 입력해 주세요." style="height : 300px;"></textarea>
					</div>
				</div>

				<div class="btn_wrap text-center">
					<a th:href="@{/customer/listBoard?boardType=N}" class="btn btn-default waves-effect waves-light">뒤로가기</a>
					<button type="submit" class="btn btn-primary waves-effect waves-light">저장하기</button>
				</div>
			</form>
		</div>
		<!-- /.card-content -->
	</div>
	</th:block>
		</div>
</body>
	
</html>