<!DOCTYPE html>
<html lang = "ko"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

        <!-- [head] 영역 시작 -->
        <head>
                <meta charset = "UTF-8"/>
                <meta content = "width=device-width, initial-scale=1, shrink-to-fit=no" name = "viewport"/>

                <!-- 공통으로 쓰이는 css파일을넣는다.-->
                <!-- Google fonts-->
                <link href = "https://fonts.googleapis.com/css?family=Montserrat:400,700" rel = "stylesheet" type = "text/css"/>
                <link href = "https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel = "stylesheet" type = "text/css"/>
                <!-- Bootstrap icons-->
                <link href = "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel = "stylesheet"/>
                <!-- Core theme CSS (includes Bootstrap)-->
                <link rel = "stylesheet" th:href = "@{/css/styles.css}"/>

                <!-- 공통으로 쓰이는 JS파일을넣는다.-->
                <!-- Bootstrap core JS-->
                <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
                <script src = "https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
                <!-- Core theme JS-->
                 <!-- Font Awesome icons (free version)-->
                <script crossorigin = "anonymous" src = "https://use.fontawesome.com/releases/v6.1.0/js/all.js"></script>
                <!-- jQuery -->
                <script src = "https://code.jquery.com/jquery-1.12.4.min.js" type = "text/javascript"></script>
				  <link
				    rel="stylesheet"
				    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"  />
				<script src="https://kit.fontawesome.com/10b89606ac.js" crossorigin="anonymous"></script>
				
				
				<style type="text/css">
				
					h4.myShopping {
						padding-left: 15px;
						padding-top: 20px;
						margin-bottom: 0px;
					}
					
					#wrapper {
						height : auto;
						min-height: 100%;
						padding-bottom: 72px;
					}
					
					footer {
						height : 72px;
						position : relative;
						transform : translateY(-100%);
					}
					
						/*   */	
		.box {
    width: 100px;
    height: 100px; 
    border-radius: 30%;
    overflow: hidden;
}

 

.profile {
    width: 100%;
    height: 99%;
 }
 
 .cal-md-10 {
	
	padding-left :0px;
}
			
			.tempClass{
				    width: 80px;
    display: flex;
    flex-direction: column;
			}		
			
			.tempClass > div{
				text-align:center;
			}
			
			.tempClass >span {
				text-align:center;
			}
				</style>
					
        </head>
        <!-- [head] 영역 끝 -->


<body>
			<div id="wrapper">
				<!-- [header] 영역 시작 -->
		        <header th:replace = "/layout/fragment/header :: header"></header>		
		        
		        
		        
		        <!-- [header] 영역 끝 -->
	<!--마이페이지-->		
		<div class="navbar navbar-expand-sm navbar-dark bg-dark">
		
		 
			<div style="padding-left :80px;">
				<span> <a class="navbar-brand" th:href="@{/myPage}">MyPage</a></span>
				<div if ="${#authentication.principal.user.role} == 'store' || 'stroeX'"> <!--롤이 스토어 이거나 x일ㄸ -->
					<!-- 이미지-->
					<div class="box" style="background: #BDBDBD;">
						
						<img class="profile" th:src="|../img/upload/img_default.jpg|">
					
					</div>
				</div>							


 
 					 

 
  					



		
			</div>
		
			<div>
		
		
			</div>
		
		
			<div class="container-fluid px-5" >
				<span>
				<br><br>
					<a class="navbar-brand" th:href="@{#}">[[${#authentication.principal.user.id}]]</a><br>
					<p >
						<!--유지 일때만 포인트가 보임-->
						 <th:block   sec:authorize="hasRole('ROLE_user')" > 
                   		 	 <i class="fas fa-donate"> </i> 보유 보인트 :[[${#authentication.principal.user.totalPoint}]] <!-- 포인트--> <br>
                   		</th:block>	
 					
						<i class="fa-solid fa-calendar"></i> 멤버의 가입일:[[${#authentication.principal.user.regDate}]]
					
					
					</p>

				</span>
		
			</div>
			<div style="padding-right: 20px;">
				<div class="right-box" >
			
					<div class="container-fluid " style="display:flex;">
					 
 			
						 
			 		<!-- 
				<div class="tempClass">			
					  <div style="font-size: 30px;">
		 				<i class="fas fa-donate"></i>  >
		  			 </div>
		  			<span>5000포인트</span>
 			 		</div>
			 		정렬-->
			 		
			 		
			 <!-- User 입장에서 보이는 오른쪽 아이콘-->		
			  <th:block   sec:authorize="hasRole('ROLE_user')" > 
			 			<div class="tempClass">			
					  <div style="font-size: 30px;">
 		 				<i class="fa-solid fa-cart-shopping"></i>
		  			 </div>
		  			<span>장바구니</span>
			 		</div>
			 		
			 		<div class="tempClass">			
					  <div style="font-size: 30px;">
					  <i class="fa-solid fa-bell"></i> <!-- 알림 -->
 		  			 </div>
		  			<span>알림 목록</span>
			 		</div>
			  </th:block>	
	 		
	 		
	 		
	<!-- Store입장에서 보이는 아이콘 --> 		
	 			<th:block   sec:authorize="hasRole('ROLE_store')" > 
			 			<div class="tempClass">			
					  <div style="font-size: 30px;">
 		 				<i class="fa-solid fa-play"></i>
		  			 </div>
		  			<span>라이브 시작</span>
			 		</div>
			 		
			 		<div class="tempClass">			
					  <div style="font-size: 30px;">
					  <i class="fa-solid fa-bell"></i> <!-- 알림 -->
 		  			 </div>
		  			<span>팔로우 목록</span>
			 		</div>
			  </th:block>	
	 		
	 		
	 		
	 		
		</div>
		 
					</div>
				</div>
			</div>
				 

	 
	 
<!----마이페이지 끝!!-->



			
			
					<!-- bottom content -->
					
						<div class="row">
						
							<div class="col-md-2" >
								<!-- [sidebar] 영역 시작 -->
								<th:block th:replace = "/layout/fragment/sidebar :: sidebar"></th:block>
								<!-- [sidebar] 영역 끝 -->
							</div>
							<div class="col-md-10" style="border-left: 3px solid #aaa">
								<!-- [content] 영역 시작 -->
								<article layout:fragment = "content"></article>
								<!-- [content] 영역 끝 -->
					        </div>
					        
				        </div>
			       
		    </div>


	        <!-- [footer] 영역 시작 -->
		    <footer th:replace = "/layout/fragment/footer :: footer"></footer>
		    <!-- [footer] 영역 끝 -->
        
</body>

</html>