<!DOCTYPE html>
<html layout:decorate = "~{layout/default_layout}"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <!--  고유 CSS 추가 -->

    <!--  고유 스크립트 추가 -->
    <!-- iamport.payment.js -->
    <script src = "https://cdn.iamport.kr/js/iamport.payment-1.1.5.js" type = "text/javascript"></script>
    <!--
    <script>
        const data = {
            payMethod: $("input[type='radio']:checked").val(),
            orderNumber: $("#orderNumber").val(),
            totalPaymentPrice: Number($("#totalPaymentPrice").val()) - Number($(".usingPoint_input").val()),
            receiverName: $("#receiverName").val(),
            receiverPhone: $("#receiverPhone"),
            receiverAddress: $("#receiverAddress"),
            receiverRequest: $("#receiverRequest"),
        }

        const {IMP} = window;
        IMP.init("imp76668016");

        IMP.request_pay({
            pg: 'html5_inicis',
            pay_method: data.payMethod, //card(신용카드), trans(실시간계좌이체), vbank(가상계좌), phone(휴대폰소액결제)
            merchant_uid: data.orderNumber, //상점에서 관리하시는 고유 주문번호를 전달
            amount: data.totalPaymentPrice,
            buyer_name: data.receiverName,
            buyer_tel: data.receiverPhone,
            buyer_addr: data.receiverAddress,
        }, function (rsp) {
            if (rsp.success) {
                //[1] 서버단에서 결제정보 조회를 위해 jQuery ajax로 imp_uid 전달하기
                jQuery.ajax({
                    url: "/payments/complete", //cross-domain error가 발생하지 않도록 주의해주세요
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        imp_uid: rsp.imp_uid
                        //기타 필요한 데이터가 있으면 추가 전달
                    }
                }).done(function (data) {
                    if (rsp.success) {
                        var msg = '결제가 완료되었습니다.';
                        msg += '고유ID : ' + rsp.imp_uid;
                        msg += '상점 거래ID : ' + rsp.merchant_uid;
                        msg += '결제 금액 : ' + rsp.paid_amount;
                        msg += '카드 승인번호 : ' + rsp.apply_num;
                    } else {
                        var msg = '결제에 실패하였습니다.';
                        msg += '에러내용 : ' + rsp.error_msg;
                    }
                });
            } else {
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;

                alert(msg);
            }
        });
    </script>
    -->

</head>


<body>

<!-- Page Content-->
<article class="py-5" layout:fragment="content">
    <div class="container px-5">
        <h1 class="fw-bolder fs-5 mb-4">Company Blog</h1>
        <div class="card border-0 shadow rounded-3 overflow-hidden">
            <div class="card-body p-0">
                <div class="row gx-0">
                    <div class="col-lg-6 col-xl-5 py-lg-5">
                        <div class="p-4 p-md-5">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                            <div class="h2 fw-bolder">Article heading goes here</div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique delectus ab doloremque, qui doloribus ea officiis...</p>
                            <a class="stretched-link text-decoration-none" href="#!">
                                Read more
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog" style="background-image: url('https://dummyimage.com/700x350/343a40/6c757d')"></div></div>
                </div>
            </div>
        </div>
    </div>
</article>

</body>
</html>