<!DOCTYPE html>
<html layout:decorate = "~{layout/default_layout}"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <!--  고유 CSS 추가 -->


  <!--  고유 스크립트 추가 -->
  <!-- iamport.payment.js -->
  <script src = "https://cdn.iamport.kr/js/iamport.payment-1.1.5.js" type = "text/javascript"></script>
  <!--
  <script>
      const data = {
          payMethod: $("input[type='radio']:checked").val(),
          orderNumber: $("#orderNumber").val(),
          totalPaymentPrice: Number($("#totalPaymentPrice").val()) - Number($(".usingPoint_input").val()),
          receiverName: $("#receiverName").val(),
          receiverPhone: $("#receiverPhone"),
          receiverAddress: $("#receiverAddress"),
          receiverRequest: $("#receiverRequest"),
      }

      const {IMP} = window;
      IMP.init("imp76668016");

      IMP.request_pay({
          pg: 'html5_inicis',
          pay_method: data.payMethod, //card(신용카드), trans(실시간계좌이체), vbank(가상계좌), phone(휴대폰소액결제)
          merchant_uid: data.orderNumber, //상점에서 관리하시는 고유 주문번호를 전달
          amount: data.totalPaymentPrice,
          buyer_name: data.receiverName,
          buyer_tel: data.receiverPhone,
          buyer_addr: data.receiverAddress,
      }, function (rsp) {
          if (rsp.success) {
              //[1] 서버단에서 결제정보 조회를 위해 jQuery ajax로 imp_uid 전달하기
              jQuery.ajax({
                  url: "/payments/complete", //cross-domain error가 발생하지 않도록 주의해주세요
                  type: 'POST',
                  dataType: 'json',
                  data: {
                      imp_uid: rsp.imp_uid
                      //기타 필요한 데이터가 있으면 추가 전달
                  }
              }).done(function (data) {
                  if (rsp.success) {
                      var msg = '결제가 완료되었습니다.';
                      msg += '고유ID : ' + rsp.imp_uid;
                      msg += '상점 거래ID : ' + rsp.merchant_uid;
                      msg += '결제 금액 : ' + rsp.paid_amount;
                      msg += '카드 승인번호 : ' + rsp.apply_num;
                  } else {
                      var msg = '결제에 실패하였습니다.';
                      msg += '에러내용 : ' + rsp.error_msg;
                  }
              });
          } else {
              var msg = '결제에 실패하였습니다.';
              msg += '에러내용 : ' + rsp.error_msg;

              alert(msg);
          }
      });
  </script>
  -->

</head>

<body>

<!-- Page Content-->
<article class="py-5" layout:fragment="content"  >

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <h3 class="text-center">
              h3. Lorem ipsum dolor sit amet.
            </h3>
          </div>
          <div class="col-md-4">
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-2">
            <div class="btn-group" role="group">

              <button class="btn btn-secondary" type="button">
                Left
              </button>
              <button class="btn btn-secondary" type="button">
                Center
              </button>
              <button class="btn btn-secondary" type="button">
                Right
              </button>
              <button class="btn btn-secondary" type="button">
                Justify
              </button>
            </div>
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-3">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <table class="table">
              <thead>
              <tr>
                <th>
                  #
                </th>
                <th>
                  Product
                </th>
                <th>
                  Payment Taken
                </th>
                <th>
                  Status
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  1
                </td>
                <td>
                  TB - Monthly
                </td>
                <td>
                  01/04/2012
                </td>
                <td>
                  Default
                </td>
              </tr>
              <tr class="table-active">
                <td>
                  1
                </td>
                <td>
                  TB - Monthly
                </td>
                <td>
                  01/04/2012
                </td>
                <td>
                  Approved
                </td>
              </tr>
              <tr class="table-success">
                <td>
                  2
                </td>
                <td>
                  TB - Monthly
                </td>
                <td>
                  02/04/2012
                </td>
                <td>
                  Declined
                </td>
              </tr>
              <tr class="table-warning">
                <td>
                  3
                </td>
                <td>
                  TB - Monthly
                </td>
                <td>
                  03/04/2012
                </td>
                <td>
                  Pending
                </td>
              </tr>
              <tr class="table-danger">
                <td>
                  4
                </td>
                <td>
                  TB - Monthly
                </td>
                <td>
                  04/04/2012
                </td>
                <td>
                  Call in to confirm
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-2">
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-2">
            <nav>
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-3">
          </div>
        </div>
      </div>
    </div>
  </div>

</article>

</body>
</html>