<!DOCTYPE html>
<html layout:decorate = "~{layout/default_layout}"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <!--  고유 CSS 추가 -->

    <!--  고유 스크립트 추가 -->

</head>

<body>

<!-- Page Content-->
<article class = "py-5" layout:fragment = "content">

    <%@include file="../includes/admin/header.jsp" %>

    <div class = "admin_content_wrap">
        <div class = "admin_content_subject"><span>주문 현황</span></div>
        <div class = "author_table_wrap">
            <!-- 게시물 O -->
            <c:if test = "${listCheck != 'empty' }">
                <table class = "order_table">
                    <colgroup>
                        <col width = "21%">
                        <col width = "20%">
                        <col width = "20%">
                        <col width = "20%">
                        <col width = "19%%">
                    </colgroup>
                    <thead>
                    <tr>
                        <td class = "th_column_1">주문 번호</td>
                        <td class = "th_column_2">주문 아이디</td>
                        <td class = "th_column_3">주문 날짜</td>
                        <td class = "th_column_4">주문 상태</td>
                        <td class = "th_column_5">취소</td>
                    </tr>
                    </thead>
                    <c:forEach items = "${list}" var = "list">
                        <tr>
                            <td>
                                <c:out value = "${list.orderId}"></c:out>
                            </td>
                            <td>
                                <c:out value = "${list.memberId}"></c:out>
                            </td>
                            <td>
                                <fmt:formatDate pattern = "yyyy-MM-dd" value = "${list.orderDate}"/>
                            </td>
                            <td>
                                <c:out value = "${list.orderState}"/>
                            </td>
                            <td>
                                <c:if test = "${list.orderState == '배송준비' }">
                                    <button class = "delete_btn" data-orderid = "${list.orderId}">취소</button>
                                </c:if>
                            </td>
                        </tr>
                    </c:forEach>
                </table>
            </c:if>

            <!-- 게시물 x -->
            <c:if test = "${listCheck == 'empty'}">
                <div class = "table_empty">
                    등록된 작가가 없습니다.
                </div>
            </c:if>

        </div>

        <!-- 검색 영역 -->
        <div class = "search_wrap">
            <form action = "/admin/orderList" id = "searchForm" method = "get">
                <div class = "search_input">
                    <input name = "keyword" type = "text" value = '<c:out value="${pageMaker.cri.keyword}"></c:out>'>
                    <input name = "pageNum" type = "hidden" value = '<c:out value="${pageMaker.cri.pageNum }"></c:out>'>
                    <input name = "amount" type = "hidden" value = '${pageMaker.cri.amount}'>
                    <button class = 'btn search_btn'>검 색</button>
                </div>
            </form>
        </div>

    </div>

    <!-- 페이지 이동 인터페이스 영역 -->
    <div class = "pageMaker_wrap">

        <ul class = "pageMaker">

            <!-- 이전 버튼 -->
            <c:if test = "${pageMaker.prev}">
                <li class = "pageMaker_btn prev">
                    <a href = "${pageMaker.pageStart - 1}">이전</a>
                </li>
            </c:if>

            <!-- 페이지 번호 -->
            <c:forEach begin = "${pageMaker.pageStart}" end = "${pageMaker.pageEnd}" var = "num">
                <li active class = "pageMaker_btn ${pageMaker.cri.pageNum == num ? "
                ":""}">
                <a href = "${num}">${num}</a>
                </li>
            </c:forEach>

            <!-- 다음 버튼 -->
            <c:if test = "${pageMaker.next}">
                <li class = "pageMaker_btn next">
                    <a href = "${pageMaker.pageEnd + 1 }">다음</a>
                </li>
            </c:if>

        </ul>

    </div>

    <form action = "/admin/orderList" id = "moveForm" method = "get">
        <input name = "pageNum" type = "hidden" value = "${pageMaker.cri.pageNum}">
        <input name = "amount" type = "hidden" value = "${pageMaker.cri.amount}">
        <input name = "keyword" type = "hidden" value = "${pageMaker.cri.keyword}">
    </form>

    <form action = "/admin/orderCancel" id = "deleteForm" method = "post">
        <input name = "orderId" type = "hidden">
        <input name = "pageNum" type = "hidden" value = "${pageMaker.cri.pageNum}">
        <input name = "amount" type = "hidden" value = "${pageMaker.cri.amount}">
        <input name = "keyword" type = "hidden" value = "${pageMaker.cri.keyword}">
        <input name = "memberId" type = "hidden" value = "${member.memberId}">
    </form>


    <%@include file="../includes/admin/footer.jsp" %>

    <script>
        let searchForm = $('#searchForm');
        let moveForm = $('#moveForm');
        /* 작거 검색 버튼 동작 */
        $("#searchForm button").on("click", function (e) {

            e.preventDefault();

            /* 검색 키워드 유효성 검사 */
            if (!searchForm.find("input[name='keyword']").val()) {
                alert("키워드를 입력하십시오");
                return false;
            }

            searchForm.find("input[name='pageNum']").val("1");

            searchForm.submit();

        });
        /* 페이지 이동 버튼 */
        $(".pageMaker_btn a").on("click", function (e) {

            e.preventDefault();

            console.log($(this).attr("href"));

            moveForm.find("input[name='pageNum']").val($(this).attr("href"));

            moveForm.submit();

        });
        $(".delete_btn").on("click", function (e) {

            e.preventDefault();

            let id = $(this).data("orderid");

            $("#deleteForm").find("input[name='orderId']").val(id);
            $("#deleteForm").submit();
        });
    </script>

</article>

</body>
</html>