<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<body th:fragment="main-body">
		<div class="fixed-navbar">
			<div class="pull-left">
				<h1 class="page-title">Board</h1>
			</div>
		</div>
		<!-- /.fixed-navbar -->

		<div id="wrapper">
			<div class="main-content">
				<div class="row row-inline-block small-spacing">
					<div class="col-xs-12">
						<div class="box-content">
							<div class="clearfix">
								<h4 class="box-title pull-left"></h4>
								<!-- /.box-title -->
	
								<th:block layout:fragment="search"></th:block>
	
							</div>
							<!-- //.clearfix -->
	
							<th:block layout:fragment="content"></th:block>
	
							<th:block layout:fragment="paging"></th:block>
						</div>
						<!-- /.box-content -->
						
						<th:block layout:fragment="add-content"></th:block>

					</div>
					<!-- /.col-xs-12 -->
				</div>
				<!-- /.row row-inline-block small-spacing -->
			<footer class="bg-dark py-4 mt-auto" th:fragment="footer">
			    <div class="container px-5">
			        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
			            <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2022</div></div>
			            <div class="col-auto">
			                <a class="link-light small" href="#!">Privacy</a>
			                <span class="text-white mx-1">&middot;</span>
			                <a class="link-light small" href="#!">Terms</a>
			                <span class="text-white mx-1">&middot;</span>
			                <a class="link-light small" th:href="@{/order/getOrder}">Contact</a>
			            </div>
			        </div>
			    </div>
			</footer>
			</div>
			<!-- /.main-content -->
		</div>
		<!-- /#wrapper -->

		<script th:src="@{/scripts/jquery.min.js}"></script>
		<script th:src="@{/plugin/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
