<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout/default_layout}">
<head>

 
    <meta charset = "UTF-8">
    <title>faitmain login</title>

<!-- 카카오  API -->
	<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

 
    	<script type="text/javascript">
    	$( function() {
			
 			
	 			$("#loginButton").on("click" , function() {
					var id=$("#id").val();
					var pw=$("#password").val();
					
					if(id == null || id.length <1) {
						alert('ID 를 입력하지 않으셨습니다.');
						$("#userId").focus();
						return;
					}
					
					if(pw == null || pw.length <1) {
						alert('패스워드를 입력하지 않으셨습니다.');
						$("#password").focus();
						return;
					}
					
					$("form").attr("method","POST").attr("action","/user/login").submit();
				});
				
				
				
				 
				
				
			
		});	
    	
    		function addUser(){
 					self.location="/user/addUser";
	
			}
			
    		function findId(){
				alert("아이디 찾기 ㄱㄱㄱ");
					self.location="/user/findId";
	
			}			
			
    		function findPassword(){
				alert("비밀번호 찾기 기 ㄱㄱㄱ");
					self.location="/user/findPassword";
	
			}				
    	</script>
    <style>
	  .wrapper {
               display: grid;
  place-items: center;
        }
    </style>
    <!-- 길이는 스타일 건들이 -->
</head>

<div>
 <article layout:fragment = "content">
<div class="wrapper">
 
 
 <section class="py-5" id="features" >
         <div class="text-center">

		                <div class="container px-5 my-5">
		                      <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">로그인</h2></div>
							</br>
							<form>
		                    <div class="row gx-5">
		
		                        <div class="col-lg-8">
		                            <div class="row gx-5 row-cols-1 row-cols-md-1">
		                                <div class="col mb-5 h-100">
		                                   <div>
						
											<input type ="text" 	class="form-control" 	id ="id" 		name = "id"		placeholder="id를 입력하세요"> <br>
											<input type ="password" class="form-control"	  id ="password"	name="password"	placeholder="password를 입력하세요">
										</div>
								
		                                </div>
		                                <div class="col mb-5 h-100">
		                                    <div class="d-grid"><button class="btn btn-primary btn-lg" id="loginButton" type="submit">로그인</button></div>
		                                    <div class="d-grid">
		                                    <a class="p-2" th:href="@{https://kauth.kakao.com/oauth/authorize?client_id=f0b36852932e865ae00c9ff2fcd19874&redirect_uri=http://localhost:8080/user/kakaoLogin&response_type=code}">
				
				 								<img src="/img/kakao_login_medium_narrow.png" style="height:60px">
												<!--  	 <img src="/img/kakao_login_medium_narrow.png" style="height:60px"> -->
											</a>
		                                    
		                                    </div>
		
		                                </div>	
		                                     
		                                </div>
		                           <hr/>
		                                <div class="col h-100">
		                                
		                                    <span class="bi bi-check text-primary" onclick="addUser()">회원가입</span>&nbsp;
		                                    <span class="bi bi-check text-primary" onclick="findId()">아이디 찾기</span>&nbsp;
											<span class="bi bi-check text-primary" onclick="findPassword()">비밀번호 찾기 </span>&nbsp;
		
		                                  
		                                </div>
		                            </div>
		                        </div>
		                        
		                        
		                        </form>
		                    </div>
		                </div>
                </div>
            </section>
</div>
 </article>

 </body>
 
</html>