<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout/default_layout}">
<head>

<head>
    <meta charset = "UTF-8">
    <title>faitmain login</title>

<!-- 카카오  API -->
	<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

 
    	<script type="text/javascript">
    	$( function() {
			
 			
	 			$("#loginButton").on("click" , function() {
					var id=$("#id").val();
					var pw=$("#password").val();
					
					if(id == null || id.length <1) {
						alert('ID 를 입력하지 않으셨습니다.');
						$("#userId").focus();
						return;
					}
					
					if(pw == null || pw.length <1) {
						alert('패스워드를 입력하지 않으셨습니다.');
						$("#password").focus();
						return;
					}
					
					$("form").attr("method","POST").attr("action","/user/login").submit();
				});
				
			
		});	
    	
    	
    	</script>
</head>

<body>
 <article layout:fragment = "content">

	<div class="container">
		 <h2>로그인 </h2>
	
			<form   class="form-horizontal">
				<div>
				
					<input type ="text" id ="id" 		name = "id"		placeholder="id를 입력하세요"> <br>
					<input type ="password" id ="password"	name="password"	placeholder="password를 입력하세요">
				</div>
		
				<button id = "loginButton" class="btn btn-d btn-circle" type="submit" >로그인</button>
			</form>
				<div>
					 <a class="p-2" th:href="@{https://kauth.kakao.com/oauth/authorize?client_id=f0b36852932e865ae00c9ff2fcd19874&redirect_uri=http://localhost:8080/user/kakaoLogin&response_type=code}">
		
		 								<img src="/img/kakao_login_medium_narrow.png" style="height:60px">
		<!--  	 <img src="/img/kakao_login_medium_narrow.png" style="height:60px"> -->
					</a>
				</div>
					
			  <div class="form-group">
						    <div class="col-sm-offset-4 col-sm-6 text-center">
	 					      <a class="btn btn-info btn" href="#" role="button">회 &nbsp;원 &nbsp;가 &nbsp;입</a>
	 					      <a class="btn btn-info btn" href="#" role="button">아이디 찾기 &nbsp;</a>
	 					      <a class="btn btn-info btn" href="#" role="button">비밀번호 찾기 &nbsp; &nbsp;</a>
	 					      
						    </div>
			</div>
 	</div>

 </article>
 </body>
 
</html>