<!DOCTYPE html>
<html layout:decorate = "~{layout/myPage_layout}"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout" >
 <!--  MYPAGE 슈르르ㅡㄺ layout-->

<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
    <title>  </title>


 <style>
	  .form-group{
 
		margin-top:10px ;
 	 
		}
		
		form-horizontal{font-family: 'Nanum Gothic Coding', monospace;}
		 
    </style>


<script type="text/javascript">

</script>

<body>
<article  class="py-5" layout:fragment="content"  >


</article>

</body>


</html>