<!DOCTYPE html>
<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

    <form th:action="@{addCustomer}" method="post">	<!-- http://localhost:8080/customer/addCustomer를 post방식으로 전송 -->

        <input type="text" class="form-control" name ="boardTitle">
        <textarea class="form-control" name="boardContent"></textarea>
		<input type="text" class="form-control" name="id">
		
		<!-- title, content, id를 post 방식으로 전달하고, 
		controller가 이를 Customer call의 column으로 mapping하고, CustomerService -> Mapper Interface -> CustomerBoardMapper.xml로 
		Query를 날려 동작할 수 있게 한다.   -->
        <button type="submit">등 록</button>
    </form>
</div>
</body>
</html>