<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				layout:decorate = "~{layout/default_layout}"
      			xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
	<th:block layout:fragment="title">
		<title>this is view page</title>
	</th:block>

	<th:block layout:fragment="content">
		<div class="card-content">
			<form class="form-horizontal form-view" th:object="${customer}">
				<div class="form-group">
					<label for="inp-type-1" class="col-sm-2 control-label">제목</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{boardTitle}"></p>
					</div>
				</div>

				<div class="form-group">
					<label for="inp-type-2" class="col-sm-2 control-label">이름</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{customerId.id}"></p>
					</div>
				</div>

				<div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label">내용</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{boardContent}"></p>
					</div>
				</div>

				 <div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label">등록일</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="${#dates.format( customer.boardRegDate, 'yyyy-MM-dd HH:mm:ss' )}"></p>
					</div>
				</div> 

				<div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label">조회 수</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{viewCount}"></p>
					</div>
				</div>
			</form>

			<div class="btn_wrap text-center">
				<a th:href="@{/customer/listNotice}" class="btn btn-default waves-effect waves-light">뒤로가기</a>
				<a th:href="@{/customer/addNotice( boardNumber=${customer.boardNumber} )}" class="btn btn-primary waves-effect waves-light">수정하기</a>
				<button  type="button" class="btn btn-danger waves-effect waves-light" th:onclick="deleteCustomerBoard([[ ${customer.boardNumber} ]])">삭제하기</button>
			</div>
		</div>
		<!-- /.card-content -->
	</th:block>

	
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			/*<![CDATA[*/
				
			/* $(function(){
				$('#deleteBtn').bind('click', function() {
					deleteBoard();
				}
			}); */
			
			
			
			function deleteBoard(boardNumber){
				
				if(confirm(boardNumber+"번 게시글을 삭제할까요?")){
					var uri = /* [[ @{/customer/deleteNotice} ]]*/ null;
					var html	= "";
					
					html += '<form name ="dataForm" action="'+uri+'" method="post">';
					html += '<input type="hidden" name="boardNumber" value="'+boardNumber+'"/>'; 
					html += '</form>';
					
					$("cMain").append(js);
					document.dataForm.submit();
				}
			}
			/*[-end of function-]*/
			
			/*]]>*/
		</script>
	</th:block>
</html>