<!DOCTYPE html>
<html 
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout" >
 <!--  MYPAGE 슈르르ㅡㄺ layout-->

<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic+Coding:wght@400;700&display=swap" rel="stylesheet">
 


</head>
    <title>  accessDenied </title>

 

<script type="text/javascript">

</script>
 <style>
	  
		
		body{font-family: 'Nanum Gothic Coding', monospace;}
		 
    </style>
<body>
 <br> 
accessDenied , accessDenied , accessDenied 페이지입니다. <br>
 알맞는 권한으로 접근 부탁드립니다.    
  <br>
</body>


</html>