<!DOCTYPE html>
<html layout:decorate="~{layout/myPage_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>

	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<!--
     <link href="/css/styles.css" rel="stylesheet" />
     <link href = "/user/css/form.css" rel = "stylesheet"/>
     -->
	<!-- 문의하기에서 가져온 css -->
	<link rel="stylesheet" type="text/css" href="/productDesign/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/productDesign/fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="/productDesign/fonts/linearicons-v1.0.0/icon-font.min.css">

	<link rel="stylesheet" type="text/css" href="/productDesign/vendor/select2/select2.min.css">

	<link rel="stylesheet" type="text/css" href="/productDesign/css/util.css">
	<link rel="stylesheet" type="text/css" href="/productDesign/css/main.css">

 
	<!-- ================ -->

	<meta charset="UTF-8">
	<title>상세정보 </title>
	<style>
		.form-group {

			margin-top: 10px;

		}

		.div_css {
			margin: 0 0 1.5em 0;
		}

		form-horizontal {
			font-family: 'Nanum Gothic Coding', monospace;
		}

		.modal {
			display: none;
			/* Hidden by default */
			position: fixed;
			/* Stay in place */
			z-index: 1;
			/* Sit on top */
			left: 0;
			top: 0;
			width: 50%;
			/* Full width */
			height: 50%;
			/* Full height */
			overflow: auto;
			/* Enable scroll if needed */
			background-color: rgb(0, 0, 0);
			/* Fallback color */
			background-color: rgba(0, 0, 0, 0.4);
			/* Black w/ opacity */
		}

		/*모달 박스 */
		.modal-content {
			background-color: #fefefe;
			margin: 15% auto;
			/* 15% from the top and centered */
			padding: 20px;
			border: 1px solid #888;
			width: 50%;
			/* Could be more or less, depending on screen size */
		}

		.close {
			color: #aaa;
			float: right;
			font-size: 28px;
			font-weight: bold;
		}

		.close:hover,
		.close:focus {
			color: black;
			text-decoration: none;
			cursor: pointer;
		}
	</style>

	<script type="text/javascript">


		/*
		function showValue(target){
		 console.log(target.value);	
		 let examinationStatus = target.value ;
		}
		*/

		 


		$(function () {

			$('#summernote').summernote({
				// 에디터 높이
				height: 300,
				// 에디터 한글 설정
				lang: "ko-KR",
				// 에디터에 커서 이동 (input창의 autofocus라고 생각)
				focus: true,
				toolbar: [
					// 글꼴 설정
					['fontname', ['fontname']],
					// 글자 크기 설정
					['fontsize', ['fontsize']],
					// 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
					['style', ['bold', 'italic', 'underline', 'strikethrough', 'clear']],
					// 글자색
					['color', ['forecolor', 'color']],
					// 표만들기
					['table', ['table']],
					// 글머리 기호, 번호매기기, 문단정렬
					['para', ['ul', 'ol', 'paragraph']],
					// 줄간격
					['height', ['height']],
					// 그림첨부
					['insert', ['picture']],
					// 코드보기, 확대해서보기, 도움말
					['view', ['fullscreen', 'help']]
				],
				// 추가한 글꼴
				fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', '맑은 고딕', '궁서', '굴림체', '굴림', '돋음체', '바탕체'],
				// 추가한 폰트사이즈
				fontSizes: ['8', '9', '10', '11', '12', '14', '16', '18', '20', '22', '24', '28', '30', '36', '50', '72'],

				callbacks: { //이미지 첨부시  감지하여   밑 실행 
					onImageUpload: function (files, editor, welEditable) {
						// 파일 업로드(다중업로드를 위해 반복문 사용)
						for (var i = files.length - 1; i >= 0; i--) {
							console.log("반복반복 ");
							uploadSummernoteImageFile(files[i], this);
						}
					}
				}
			});
		});

		function uploadSummernoteImageFile(file, editor) {
			console.log("bbb");
			let data = new FormData();
			data.append('file', file); //FormData에 어팬드 
			$.ajax({
				data: data,
				type: "POST",
				url: "/user/json/uploadSummernoteImageFile",
				contentType: false,
				enctype: "multipart/form-data",
				processData: false,
				success: function (data) {
					console.log(data.url);
					$(editor).summernote("editor.insertImage", data.url);
					// 써머노트에 올린 사진 바로 띄어줌 			
				}
			});
		}
	</script>

	</script>

</head>

<body>
	<article class="py-5" layout:fragment="content">




		<section class="bg0 p-b-116">



			<div class="container">


				<div class="text-center">

					<h4 class=".ltext-109 ">스토어 신청서 </h4>
					<br>
				</div>
				<div class="flex-w flex-tr">
					<!-- 문의 할 상품 정보 -->
					<div class="size-208 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
						<div class="flex-w w-full p-b-42">

							<div class="size-212 p-t-2">

								<!-- th:src로 원하는 사진 보여주면 될듯 user.userStoreImage? -->
								<img id="user_image" name="storeLogoImage"
									th:src="@{/img/upload/} +${StoreApplicationDocument.storeLogoImage}"
									alt="IMG-PRODUCT" class="stext-115 cl6 size-213 p-t-18" />

								<!-- 필요없으면 지우시오 -->
								<p class="stext-115 cl7 hov-cl1 size-213 p-t-18">
									<a class="stext-115 cl7 hov-cl1 size-213 p-t-18"></a>
								</p>

								<br />

								<span class="mtext-110 cl2 txt-center"></span>
								<!-- ============== -->

							</div>

						</div>
					</div>
					<!-- =================== -->

					<!-- 스토어 신청서 작성 form -->
					<div class="size-209 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
						<form method="post" name=" " id=" ">
							<h4 class="mtext-105 cl2 txt-center p-b-30">

								[[${StoreApplicationDocument.storeName}]]
							</h4>
							<div class="bor8 m-b-30">
								<p>
								<h5> 아이디 : </h5> [[${StoreApplicationDocument.id}]] <br>
								<h5> 스토어 이름 : </h5> [[${StoreApplicationDocument.storeName}]] <br>
								<h5> 스토어 소개 : </h5> [[${StoreApplicationDocument.storeIntroduction}]] <br>
								<h5> 스토어 심사 상태 </h5>
								<input th:if="${StoreApplicationDocument.examinationStatus =='W'}"
									id="examinationStatus" type="text" class="form-control" value="대기" disabled>
								<input th:if="${StoreApplicationDocument.examinationStatus =='A'}"
									id="examinationStatus" type="text" class="form-control" value="승인" disabled>
								<input th:if="${StoreApplicationDocument.examinationStatus =='R'}"
									id="examinationStatus" type="text" class="form-control" value="반려" disabled>


								</p>
							</div>

							<div class="bor8 m-b-30">
								<div class="div_css">
									<h5> 제품소개 및 심사 사진 </h5>
									<hr />
									<span th:utext=${StoreApplicationDocument.productDetial}></span>
								</div>
							</div>


							<div sec:authorize="hasRole('admin')">
								<div id="StoreApplicationDocumentinfo" th:if="${StoreApplicationDocument.examinationStatus =='W'}">
							
									<br><br>
									<hr>
									<div class="form-group">
							
										<span class="flex-c-m stext-101 cl0 size-121 bg11 bor1 hov-btn3 p-lr-15 trans-04 pointer"
											onclick="openModal();"> 심사하기</span>
							
									</div>

										<span th:if="${StoreApplicationDocument.examinationStatus !='W'}"> 이미 심사된 스토어
											신청서입니다. </span>							
									<div>
							

									</div>
									<br>
								</div>
							</div>






							<a href="javascript:history.back()"
								class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer"
								role="button">확인</a>
							<br><br>
							<div sec:authorize="hasRole('storeX')">
								<a th:if="${StoreApplicationDocument.examinationStatus =='R'}"
									class="flex-c-m stext-101 cl0 size-121 bg11 bor1 hov-btn3 p-lr-15 trans-04 pointer"
									role="button" th:href="@{../../../user/addStoreApplication}"> 스토어 재심청 <a>
							</div>


									<input type="hidden" th:id="storeApplicationDocumentNumber"
										th:name="storeApplicationDocumentNumber"
										th:value="${StoreApplicationDocument.storeApplicationDocumentNumber}">

						</form>





					</div>
					<!-- =================== -->






				</div>


				<div id="myModal" class="modal">
					<form  id="Modalform">
							<!-- Modal content -->
							<div class="modal-content">
								<span id="close" class="close" onclick="clseoModal();">&times;</span>
								<!--모달에 x버튼 클릭시 나가기  -->
								<p> 스토어 신청성 심사 </p>
								<div class="rs1-select2 rs2-select2 bor8 bg0 m-b-12 m-t-9">
									<select class="js-select2" th:id="examinationStatus" name="examinationStatus">
										<option value="W">대기</option>
										<option value="A">승인</option>
										<option value="R">반려</option>
									</select>
									<div class="dropDownSelect2"></div>
								</div>
								<a href="" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer"
									 onclick="examination();" role="button">심사 </a>
									 
									 
							<input type="hidden" th:id="storeApplicationDocumentNumber"
												th:name="storeApplicationDocumentNumber"
												th:value="${StoreApplicationDocument.storeApplicationDocumentNumber}">		 
					</form>		 
					</div>
					<!-- =========== -->
					<script src="/productDesign/vendor/select2/select2.min.js"></script>
					<script>
						$(".js-select2").each(function () {
							$(this).select2({
								minimumResultsForSearch: 20,
								dropdownParent: $(this).next('.dropDownSelect2')
							});
						})
					</script>
					<!-- =========== -->

				</div>
				<!-- modal 함수 -->
				<script>

					function openModal() {
						modal.style.display = "block";
					}
					function clseoModal() {

						console.log("spane");
						modal.style.display = "none";


 						window.close()

 					}
 					function examination(){
							console.log("examination");

							modal.style.display = "none";
							
							        //        $("#Modalform").attr("method","POST").attr("action","/user/updateStoreApplicationDocument").submit();

							
							$(function(){
								
								   var formData = $("#Modalform").serialize() ;
 										$.ajax({
											 url: "/user/json/updateStoreApplicationDocument" ,
											 type: 'POST',
											data: formData ,
											   success: function (data) { //컨트롤러에서 넘어온 cnt값을 받는다
											   if(data =='W'){
								
														}else if (data =='A'){
														 $("#StoreApplicationDocumentinfo").css("display","none"); // 심사 영역 안보이게

 															$("#examinationStatus").val("승인")
							 
															
															
														}else if(data =='R'){
														 $("#examinationStatus").val("반려")
															$("#StoreApplicationDocumentinfo").css("display","none"); // 심사 영역 안보이게
							
														}
														
 											   }
                         											 
								           
											
										}) //ajax 괄호
										
										let storeApplicationDocumentNumber  = $("#storeApplicationDocumentNumber").val() ;
  										 					self.location="/user/getStoreApplicationDocument?storeApplicationDocumentNumber="+storeApplicationDocumentNumber;	
								
							});
 
							
	 

							
							
						
	
					}

					var modal = document.getElementById('myModal');

					// Get the button that opens the modal
					var btn = document.getElementById("myBtn");

					// Get the <span> element that closes the modal
					var span = document.getElementById("close");
					console.log("span" + span);

					// When the user clicks on the button, open the modal 
					btn.onclick = function () {
						modal.style.display = "block";
					}

					// When the user clicks on <span> (x), close the modal
					span.onclick = function () {
						console.log("spane");
						modal.style.display = "none";



					}

					// When the user clicks anywhere outside of the modal, close it
					window.onclick = function (event) {
						if (event.target == modal) {
							modal.style.display = "none";
						}
					}

				</script>


			</div>
			</div>
			</form>

			</div>


			</div>
			</form>

			</div>

			</div>






			</div>

			</div>

		</section>



	</article>


</body>

</html>