<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout/default_layout}">
<head>

 
    <meta charset = "UTF-8">
    <title>faitmain login</title>

<!-- 카카오  API -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />

 <!--   <link href="/css/login.css" rel="stylesheet" /> -->
<script src="https://kit.fontawesome.com/10b89606ac.js" crossorigin="anonymous"></script>
	<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

 
    	<script type="text/javascript">
       $(function () {
	
	
	
	
	
	
			$("#findPassword").on("click",function(){
	
	
	
				if (	$("#id").val() == null) {
					 alert("입력하신  아이디를 입력해주세요")
						                    
				  $("input:text[name='id']").focus();
					return;
				 }

				 
				if(	$(".successPhoneChk").text() != '인증번호가 일치합니다.!!1'){
										
					alert("휴대폰인증후 가능합니다. ") ;
				
						return; 
				}
				                           
				
				 var id =$("#id").val();
				console.log(id) ;
			 
				
 			console.log("findPassword 버튼 눌림 ") ;
 					
			   var formData = $("#form").serialize() ;
			//  alert(formData) ;
				$.ajax({
					 url: "/user/json/findPassword" ,
					 type: 'POST',
					 data: formData , 
 					dataType:"text",
		                        success: function (data) { //컨트롤러에서 넘어온 cnt값을 받는다
 		                        if(data  == ("입력하신 정보와 유효한 회원정보가가 존재하지 않습니다.")){
			
											  alert("결과 :: " + data) ;
									}else{
												
								
									
		 									 location.href="/user/updatePassword?id="+id;
		 									 
		 									 /*
		 									 popWin  = window.open("/user/updatePassword?id="+id,
																			"popWin", 
																			"top=200,left=200,width=780,height=650,marginwidth=0,marginheight=0,"+
																			"scrollbars=no,scrolling=no,menubar=no,resizable=no");
		 									 
		 									 */
		 									 
		 									 
								 			}
					 
		                       	 } // success 괄호
		           
					
				}) //ajax 괄호
		
	 
		}) ;
		
	} );	


            $(function () {

            var code2 = "";

            $("#phoneChk").on("click", function () {


                console.log("phoneChe 옴 ");
                var phone = $("#phone").val();

            

                    alert("인증번호 발송이 완료되었습니다.\n휴대폰에서 인증번호 확인을 해주십시오.");

                    $.ajax({
                        type: "GET", url: "uphoneCheck?phone=" + phone,
                        success: function (data) {
                            if (data == "error") {

                                alert("휴대폰 번호가 올바르지 않습니다.")
                                $(".successPhoneChk").text("유효한 번호를 입력해주세요.");

                                $(".successPhoneChk").css("color", "red");

                                $("#phone").attr("autofocus", true);


                            } else {


                                $("#phone2").attr("disabled", false);
                                $("#phoneChk2").css("display", "inline-block");
                                $(".successPhoneChk").text("인증번호를 입력한 뒤 본인인증을 눌러주십시오.");
                                $(".successPhoneChk").css("color", "green");
                                $("#phone").attr("readonly", true);
                                console.log("이거뭐야 data " + data)
                                code2 = data;
                            }
                        }
                    });


              

            })


        })


        $(function () {


            $("#phoneChk2").on("click", function () {

                var phone = $("#phone").val()
                var phone2 = $("#phone2").val()
                console.log("phone :" + phone)
                console.log("phone2 :" + phone2)
                console.log("체크체크까ㅣㅈ 옴 ")

                $.ajax({
                    type: "GET",
                    url: "/user/smsCertificationRequest?phone=" + phone + "&phone2=" + phone2,


                    success: function (data) {
                        if (data == "error") {
                            alert("유효하지 않습니다. .")

                        } else if (data == "F") {
                            console.log("   data " + data)
                            $(".successPhoneChk").text("인증번호가 일치하지 않습니다. 확인해주시기 바랍니다.");
                            $("#phoneDoubleChk").val("false");
                            $(this).attr("autofocus", true);

                             

                        } else if (data = "T") {
                            console.log("   data " + data)
                            $(".successPhoneChk").text("인증번호가 일치합니다.!!1");
                            $(".successPhoneChk").css("color", "green");
                            $("#phoneDoubleChk").val("true");
                            $("#phone2").attr("disabled", true);

                            


                        }


                    }  // suceess
                });


            });


        })

    			
    	</script>
    	
    	
    <style>
	  .wrapper {
               display: grid;
  place-items: center;
        }
        
        
    
 
 
        
  </style>

    <!-- 길이는 스타일 건들이 -->
</head>

 
 <article layout:fragment = "content">
	 	<br><br>
	 <div>
	    <div class="wrapper">
 		 <div id="formContent">
			 <h2>비밀번호 찾기</h2>
			   <form id="form" onsubmit="return false">
			   
			     <div class="form-group">
		 		    <h5 class="fw-bolder" >아이디</h5>
				    <div >
				      <input type="text" class="form-control" id="id" name="id" placeholder="id를 입력하세요 " >
				    </div>
				 </div>

                    <div class = "form-group">
                         <h5 class = "fw-bolder"> 인증번호 </h5>
                        <div>
                            <div class = "input-group mb-2">
                                <input class = "form-control" id = "phone" name = "phoneNumber"
                                       placeholder = "휴대전화번호 입력 01012345678"
                                       type = "type"/>
                                <span class = "btn btn-success" id = "phoneChk"> 인증번호 보내기</span>
                            </div>
                        </div>


                        <div>
                            <div class = "input-group mb-2">
                                <input class = "form-control" disabled id = "phone2" name = "CertificationNumber"
                                       placeholder = "인증번호 입력" required type = "text"/>

                                <span class = "btn btn-success" disabled id = "phoneChk2"
                                      name = "CertificationNumber" placeholder = "인증번호 입력" required>  본인인증</span>

                            </div>
                            <span class = "point successPhoneChk">휴대폰 번호 입력후 인증번호 보내기를 해주십시오.</span>

                        </div>
 
                        <input id = "phoneDoubleChk" type = "hidden"/> </p>
                    </div>
				   	 <div class="form-group">
			   		    <div >
			                   <span class="fw-bolder btn btn-success col-md-12" id="findPassword" > 비밀번호 찾기</span></div>
			  
			  		  </div>   
			 		 </form>
			 		 </div>
	 	   </div>
		 </div>	  
			  
			  		
			<br><br>	<br><br>
			   
			  
	 	  

 </article>

 </body>
 
</html>