<!DOCTYPE html>
<html layout:decorate = "~{layout/myPage_layout}"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout" >
 

<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
     <link href="@{/css/styles.css}" rel="stylesheet" />

    <meta charset = "UTF-8">
    <title>상세정보 </title>
    <style>
	  .form-group{
 
		margin-top:10px ;
 	 
		}
		
		form-horizontal{font-family: 'Nanum Gothic Coding', monospace;}
		 
    </style>

 <script type = "text/javascript">


/*
function showValue(target){
 console.log(target.value);	
 let examinationStatus = target.value ;
}
*/
 
   $(function () {
	$("#button").on("click",function(){
		
	
                         alert("버튼울림 :: ") ;

   var queryString = $("#form").serialize() ;
  alert(queryString) ;
		$.ajax({
			 url: "/user/json/updateStoreApplicationDocument" ,
			 type: 'POST',
			 data:queryString , 
			 dataType : 'json',

                        success: function (cnt) { //컨트롤러에서 넘어온 cnt값을 받는다
                        
                        alert("결과 :: " + cnt) ;
                        } 
           
			
		}) //ajax 괄호
			
			
		 
		
 
	}) ;
	
} );	


</script>
    
</head>

<body>
	<article  class="py-5" layout:fragment="content"  >
	
	<h2> 스토어 신청서 </h2>
	
	<div class="form-group">
	
	<input type="hidden"  th:id="storeApplicationDocumentNumber" th:name="storeApplicationDocumentNumber"    th:value="${StoreApplicationDocument.storeApplicationDocumentNumber}"  >
		  	 <form id="form">    			    

		    <h5 class="fw-bolder"> 아이디</h5>
			    <div >
			    <input type="text" class="form-control" th:id="id" th:name="id"  th:value="${StoreApplicationDocument.id}"  readonly>  
			
			    </div>
		  	<h5 class="fw-bolder"> 이름 </h5>
			    <div >
			   <input type="text" class="form-control" th:id="storeName" th:name="storeName"  th:value="${StoreApplicationDocument.storeName}"  readonly>  
	 
			    </div>
			    
			    
			      	<h5 class="fw-bolder"> 스토어 소개 </h5>
			    <div >
			   <input type="text" class="form-control" th:id="storeIntroduction" th:name="storeIntroduction"  th:value="${StoreApplicationDocument.storeIntroduction}"  readonly>  
	 
			    </div>
			    
			    <div >
			   	<h5 class="fw-bolder"> 스토어 심사 상태 </h5>

			   <input type="text" class="form-control"  th:value="${StoreApplicationDocument.examinationStatus}"  disabled>  
	 
			    </div>			    
		    <div >
			   	<h5 class="fw-bolder"> 제품소개 및 심사 사진  </h5>

	 				<span th:utext=${StoreApplicationDocument.productDetial}></span>
			    </div>			    <br><br>
			    
			    <hr>
			    <div th:if"${user.role == 'admin'}">
			     	<h5 class="fw-bolder"> 심사  </h5>
						<select th:id="examinationStatus"    name="examinationStatus" >
						  <option value="W" selected="selected">대기</option>
						  <option value="A">승인</option>
						  <option value="R" >반려</option>
						</select>
                         <div>
                            <span class = "fw-bolder btn btn-success col-md-2" id = "button"> 심사하기</span> 

                    </div>
 
    		
    		
    		
    		</form>	
			    	
			    </div>
			    
			    
			    
			    
			    
			    
	</div>
	<br><br>
			    
			    <hr>
				<a href="javascript:history.back()" class="btn btn-secondary btn-xs" role="button">확인</a>

	
	</article>


</body>
</html>