<!DOCTYPE html>
<html layout:decorate="~{layout/myPage_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<link href="/css/styles.css" rel="stylesheet" />
	<link href="/user/css/form.css" rel="stylesheet" />

	<meta charset="UTF-8">
	<title>상세정보 </title>
	<style>
		.form-group {

			margin-top: 10px;

		}

		.div_css {
			margin: 0 0 1.5em 0;
		}

		form-horizontal {
			font-family: 'Nanum Gothic Coding', monospace;
		}
	</style>

	<script type="text/javascript">


		/*
		function showValue(target){
		 console.log(target.value);	
		 let examinationStatus = target.value ;
		}
		*/

		$(function () {
			$("#button").on("click", function () {


				//alert("버튼울림 :: ") ;

				var formData = $("#form").serialize();
				// alert(formData) ;
				$.ajax({
					url: "/user/json/updateStoreApplicationDocument",
					type: 'POST',
					data: formData,
					//	 dataType : 'json',

					success: function (data) { //컨트롤러에서 넘어온 cnt값을 받는다



						if (data == 'W') {

						} else if (data == 'A') {


							$("#examinationStatus").val("승인")
							$("#StoreApplicationDocumentinfo").css("display", "none"); // 심사 영역 안보이게



						} else if (data == 'R') {
							$("#examinationStatus").val("반려")
							$("#StoreApplicationDocumentinfo").css("display", "none"); // 심사 영역 안보이게

						}

						alert("결과 :: " + data);

					}


				}) //ajax 괄호





			});

		});


	</script>

</head>

<body>
	<article class="py-5" layout:fragment="content">
		<div class="container col-lg-3">
		</div>






		<div class="container col-lg-6 ">
			<div>
				<section>


					<div class="text-center">
						<h3> 스토어 신청서</h3>
						<p class="lead fw-normal text-muted "> 등록하신 스토어 신청서 입니다. </p>
					</div>
					<div class="col-12">
						<div class="card">

							<p>
							<form id="form">
								<div class="form-group">

									<div class="div_css">
										<p>



											<img class="img-thumbnail" id="user_image" name="storeLogoImage"
												th:src="@{/img/upload/} +${StoreApplicationDocument.storeLogoImage}" />
										<h5>[[${StoreApplicationDocument.storeName}]]</h5>

										</p>




										<input type="hidden" th:id="storeApplicationDocumentNumber"
											th:name="storeApplicationDocumentNumber"
											th:value="${StoreApplicationDocument.storeApplicationDocumentNumber}">

										<h5> 아이디</h5>
										<input type="text" class="form-control" th:id="id" th:name="id"
											th:value="${StoreApplicationDocument.id}" readonly>

									</div>
								</div>

								<div class="form-group">
									<div class="div_css">

									 스토어 아이디 :	[[${#authentication.principal.user.id}]] <br>
										 스토어 이름 :	[[${#authentication.principal.user.storeName}]]<br>
										 스토어 소개 :	[[${#authentication.principal.user.storeIntroduction}]]<br>
								</div>

			 

								</p>
							</form>


							<hr>
							<a href="javascript:history.back()" class="btn btn-secondary btn-xs" role="button">확인</a>
							<br><br>

 

						</div>


				</section>

			</div>

		</div>

		<div class="container col-lg-3">

			<br><br>

		</div>




	</article>


</body>

</html>