<!DOCTYPE html>
<html
        xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout" >
 <!--  MYPAGE 슈르르ㅡㄺ layout-->

<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic+Coding:wght@400;700&display=swap" rel="stylesheet">
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
     <link href="@{/css/styles.css}" rel="stylesheet" />
</head>
    <title>  </title>


 <style>
	  .form-group{
 
		margin-top:10px ;
 	 
		}
		
		body{font-family: 'Nanum Gothic Coding', monospace;}
		 
    </style>


<script type="text/javascript">

</script>

<body>
<article  class="py-5" layout:fragment="content"  >

유저만 들어와!! 유저 유저 
</article>

</body>


</html>