<!DOCTYPE html>
<html lang = "ko">
<head>
    <meta charset = "UTF-8">
    <title>상품 등록</title>
    <!-- 참조 : http://getbootstrap.com/css/   참조 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!--  ///////////////////////// Bootstrap, jQuery CDN ////////////////////////// -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
	
	<style>
 		body {
            padding-top : 50px;
        }
    </style>
    
    <script>
    	$(document).ready(function() {
			console.log('ready');

			optionAdd();
		});
		
    	function optionAdd() {
			console.log('optionadd');
			var optionIndex = 0;
			//$("#fileIndex").append("<div><input type='file' style='float:left;' name='file_"+(fileIndex++)+"'>"+"<button type='button' style='float:right;' id='fileAddBtn'>"+"추가"+"</button></div>");
			$("#optionAdd_btn").on("click",	function() {
				console.log('옵션추가');
				
				$("#optionIndex").append(
					"<div>"  
						+ "<input placeholder='옵션' class='form-control' type='text' name='productOptions[" + optionIndex + "].productName' id='productOptions'>"
						+ "<input type='number' class='form-control' name='productOptions[" + optionIndex +"].productQuantity' id='item_vol' placeholder='수량'>"
						+ "<button type='button' style='float:right;' id='optionDelBtn' class='btn-btn dark'>"+ "삭제" + "</button>"
					+ "</div>" 
				  
				);
				
				optionIndex++;
				console.log(optionIndex);
			});

			$(document).on("click", "#optionDelBtn", function() {
				$(this).parent().remove();
				optionIndex--;
			});

		};
    </script>
</head>
<body>
<div class="container">
	<form th:action="@{/product/addProduct}" method="post" name="addProductForm" id="addProductForm" enctype="multipart/form-data" class="form-horizontal">
			
			<!-- 상품등록 -->					
			<div class="form-group">
			    <label for="categoryCode" class="col-sm-offset-1 col-sm-3 control-label">상품 카테고리</label>
			    <div class="col-sm-4">
			      <select class="form-control" id="categoryCode" name="categoryCode">
			      	<option value='01'>식품</option>
			      	<option value='02'>생활</option>
			      	<option value='03'>뷰티</option>
			      	<option value='04'>패션</option>
			      	<option value='05'>인테리어</option>
			      	<option value='06'>출산/유아동</option>
			      </select>
			    </div>
			</div>
								
			<div class="form-group">
				<label for="productName" class="col-sm-offset-1 col-sm-3 control-label">상품명</label>
				<div class="col-sm-4">
			      <input type="text" class="form-control" id="productName" name="productName" placeholder="상품명"/>
			    </div>
			</div>
			
			<div class="form-group">
				<label for="price" class="col-sm-offset-1 col-sm-3 control-label">가격</label>
				<div class="col-sm-4">
			      <input type="text" class="form-control" id="price" name="price" placeholder="단위 : 원"/>
			    </div>
			</div>
				
			<div class="form-group">
				<label for="productQuantity" class="col-sm-offset-1 col-sm-3 control-label">상품 수량</label>
				<div class="col-sm-4">
			      <input type="text" class="form-control" id="productQuantity" name="productQuantity"/>
			    </div>
			</div>	

			<!--  상품옵션 -->
			<div class="form-group">

				<button id="optionAdd_btn" class="btn btn-primary mb-3 col-sm-offset-1 col-sm-3" type="button">옵션추가</button>

				<div id="optionIndex" class="col-sm-4">
				</div>

			</div>
			<!--  상품옵션 끝 -->


			<!--  상품이미지 -->
			<div  class="form-group">
				<label for="mainImage" class="col-sm-offset-1 col-sm-3 control-label">상품 메인 이미지</label>
				<div class="col-sm-4">
			      <input type="file" class="form-control" id="mainImage" name="mainImage"/>
			    </div>
			</div>
			
			<div  class="form-group">
				<label for="subImage" class="col-sm-offset-1 col-sm-3 control-label">상품 추가 이미지</label>
				<div class="col-sm-4">
			      <input type="file" class="form-control" id="subImage" name="subImage"/>
			    </div>

			</div>
			
			<button class="btn btn-d btn-circle" type="submit">상품등록</button>
	</form>
</div>
</body>
</html>