<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				layout:decorate = "~{layout/default_layout}"
      			xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta property="og:type" content="website" />
    	<meta property="og:title" content="바로 이용하는 무료 채팅 솔루션" />
    	<meta property="og:description" content="설치 없이 가입 즉시 바로 이용할 수 있는 무료 채팅 서비스를 제공 해 드리겠습니다." />
    	<meta property="og:image" content="https://www.vchatcloud.com/img/common/og_img.png" />
    	<meta property="og:url" content="https://www.vchatcloud.com" />
    	
        <title>Modern Business - Start Bootstrap Template</title>
		
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" th:href="@{img/favicon.ico}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{css/styles.css}" rel="stylesheet" />

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
       	
       	<!-- live -->
		
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
       	<script th:src="@{js/vchatcloud-1.2.0.min.js}"></script> 
		<script th:src="@{js/like.js}"></script>
    	<script th:src="@{js/draw.js}"></script>
    	<script th:src="@{js/errMsg.js}"></script>
		<script th:src="@{js/scripts.js}"></script>
		<link rel="preconnect" href="https://fonts.gstatic.com">
    	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    	<script src="https://kit.fontawesome.com/c13f14f04a.js" crossorigin="anonymous"></script>
    	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.0/dist/sockjs.min.js"></script>
    	
    	<!-- Product -->
    	<link rel="stylesheet" type="text/css" href="/productDesign/vendor/bootstrap/css/bootstrap.min.css">	
		<link rel="stylesheet" type="text/css" href="/productDesign/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/productDesign/fonts/iconic/css/material-design-iconic-font.min.css">
		<link rel="stylesheet" type="text/css" href="/productDesign/fonts/linearicons-v1.0.0/icon-font.min.css">
		
		<link rel="stylesheet" type="text/css" href="/productDesign/vendor/animsition/css/animsition.min.css">
		
		<link rel="stylesheet" type="text/css" href="/productDesign/css/util.css">
		<link rel="stylesheet" type="text/css" href="/productDesign/css/main.css">	
		 <!-- ============ -->

    </head>
    <body>
    <article layout:fragment="content" style="padding-top : 0px" >
            <!-- Header-->
            <header class="bg-dark" style="padding-top : 0px">
                <div class="container h-full">
                    <div class="row align-items-center justify-content-center" style="padding-bottom: 30px;">
	                  	<div class="col-md-4 text-center" style="width: 424px">
	                  		<div class="row">
	                  			<div class="col-md-12" style="height: 100px; display: flex; align-items: center; flex-direction:row; justify-content: center;">
	                  				<a class="btn btn-outline-light btn-lg" th:href="@{live/getLiveReservationCal}" style="font-family:jua;">
	                  					프리미엄 라이브 예약 확인
	                  				</a>
	                  			</div>
	                  		</div>
	                  		<div class="row">
	                  			<div class="col-md-12" style="border-radius:30px; right:15px; padding-top: 20px; height: 570px; background-color:white;">
	                  				<div>
	                  					<h5 style="font-size:30px; color : black; font-family:jua;">프리미엄 상품 목록</h5>
	                  				</div>
	                  				<div>
	                  					<table class="table">
							   				<colgroup>
							   					<col width="10px"/>
							   					<col width="330px"/>
							   				</colgroup>

										  	<tbody>
											  	<th:block th:if="${liveReservation!=null}">
											  		<th:block th:each="liveProduct : ${liveReservation.liveProduct}">
												    	<tr style="cursor:pointer" th:onclick="'openProductView('+${liveProduct.productNumber}+');'">
														    <th scope="row">
														    	<img th:src="'../img/upload/'+${liveProduct.productMainImage}" style="width:50px; height:50px;">
														    </th>
														    <td style="text-align: left;">
														    	<div th:text="${liveProduct.productName}" style="font-family:jua;"></div>
										                        <marquee><th:block th:text="${liveProduct.productDetail}" style="font-family:jua;"></th:block></marquee>
										                	</td>
													    </tr>
												    </th:block>
											    </th:block>
											    <th:block th:unless="${liveReservation!=null}">
											    	등록된 예약이 없습니다.
											    </th:block>
											</tbody>
											
										</table>
	                  				</div>
	                  			</div>
	                  		</div>
	                  	</div>
	                  	
						<div class="livecommerce col-md-8" style="padding-left:0px; padding-right:0px;">
	                        <div id="remote_cam">
	                        	 
	                        
	                        </div>
	                        
	                        <article class="title">
				                <p id=roomNm><span>Live</span></p>
				            </article>
                        </div>
                    	
                    </div>
                </div>
            </header>
           
           
            <div class="container">
            
             <!-- LiveList section-->
	            <section class="py-5" id="features">
	            	<p class="px-10">Live List</p>
	                <div class="row px-5">
						<div class="col-md-12">
							<div class="row">
							
								<div class="col-md-3 pb-3" th:each="live : ${map.liveList}">
									<div class="card" style="height : 530px">
										<a th:href="@{'live/watchLive/' + ${live.liveNumber}}"><img class="card-img-top" alt="Bootstrap Thumbnail First" src="https://dummyimage.com/235x400/343a40/6c757d" style="height : 400px"></a>
										<strong>실시간 시청자 : <span th:if="${live.liveWatcher} == -1">lol</span>
															 <span th:if="${live.liveWatcher} != -1">[[${live.liveWatcher}]]</span></strong>
										</img>
										<div class="card-block">
											<h5 th:text="${live.liveTitle}" class="card-title pt-3 pb-2 px-2">
												Live Title
											</h5>
											 	<h6 th:text="${live.liveIntro}" class="card-text px-2">Intro</h6>
											
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
	            </section>
	            
	             <!-- ProductList section-->
	             <div class="bg0 m-t-23 p-b-140">
					<div class="container">
						<div class="flex-w flex-sb-m p-b-52">
							<div class="flex-w flex-l-m filter-tope-group m-tb-10">
								<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
									All Products
								</button>
			
								<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".01">
									식품
								</button>
			
								<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".02">
									생활
								</button>
			
								<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".03">
									뷰티
								</button>
			
								<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".04">
									패션
								</button>
			
								<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".05">
									인테리어
								</button>
							</div>						
						</div>
						
						<!-- product 표시 -->
						<div class="row isotope-grid">
							<th:block th:each="product : ${map.list}">
								<div th:class="|col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item ${product.categoryCode}|">
								
									<!-- prodcut img, name, price -->
									<div class="block2">
										<div class="block2-pic hov-img0">
											<a th:href="@{/product/getProduct?productNumber=} + ${product.productNumber}">
												<img th:src="|../img/upload/${ product.productMainImage }|" alt="IMG-PRODUCT">
											</a>
											<!-- 
											<a th:href="@{/product/getProduct?productNumber=} + ${product.productNumber}"
												class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
												Quick View
											</a>
											-->
										</div>
							
										<div class="block2-txt flex-w flex-t p-t-14">
											<div class="block2-txt-child1 flex-col-l ">
											
												<a th:href="@{/product/getProduct?productNumber=} + ${product.productNumber}" th:text="${product.productName}"
													class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
												</a>
												
												<a th:href="@{/product/getProduct?productNumber=} + ${product.productNumber}">
													<span class="stext-105 cl3" th:text="${#numbers.formatInteger(product.productPrice, 3, 'COMMA') + '원'}">
													</span>
												</a>
												
											</div>
										</div>
										
									</div>
								</div>
							</th:block>
							<!-- Product 관련 js -->
							<script src="/productDesign/vendor/animsition/js/animsition.min.js"></script>							
							<script src="/productDesign/vendor/bootstrap/js/popper.js"></script>
							<script src="/productDesign/vendor/bootstrap/js/bootstrap.min.js"></script>
							
							<script src="/productDesign/vendor/isotope/isotope.pkgd.min.js"></script>
							<!-- ==================================================== -->
							<script src="/productDesign/js/main.js"></script>
							<!-- ============ -->
						</div>	
						
						<!-- Load more -->
						<div class="flex-c-m flex-w w-full p-t-45">
							<a th:href="@{/product/getProductList?resultJsp=listProduct}" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
								전체 상품
							</a>
						</div>
						
					</div>
	              </div>
	             <!-- ============================================================== -->
	              
				<input th:if="${live} != null" type="hidden" id="storeId" th:value="${live.storeId}">
				<input th:if="${live} != null" type="hidden" id="channelKey" th:value="${live.roomId}">
				<input th:if="${liveReservation} != null" type="hidden" id="storeName" th:value="${liveReservation.store.storeName}">

            </div>            
            
		</article> 		
		
    </body>

</html>
