<!DOCTYPE html>
<html layout:decorate = "~{layout/default_layout}"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <!--  고유 CSS 추가 -->

    <!--  고유 스크립트 추가 -->
    <script src = "https://cdn.bootpay.co.kr/js/bootpay-3.3.3.min.js" type = "application/javascript"></script>

</head>
<body>

<!-- content -->
<article class = "py-5" layout:fragment = "content">
    <div class = "wrapper">
        <div class = "wrap">
            <div class = "content_area">
                <div class = "content_main">
                    <!-- 회원 정보 -->
                    <div class = "member_info_div">
                        <table class = "table_text_align_center memberInfo_table">
                            <tbody>
                            <tr>
                                <th style = "width: 25%;">주문자</th>
                                <td style = "width: 25%" th:value = "${user.id}">홍길동</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- 배송지 정보 -->
                    <div class = "addressInfo_div">
                        <div class = "addressInfo_button_div">
                            <button class = "address_btn address_btn_1" onclick = "showAdress('1')" style = "background-color: #3c3838;">상용자 정보 주소록</button>
                            <button class = "address_btn address_btn_2" onclick = "showAdress('2')">직접 입력</button>
                        </div>
                        <div class = "addressInfo_input_div_wrap">
                            <div class = "addressInfo_input_div addressInfo_input_div_1" style = "display: block">
                                <table>
                                    <colgroup>
                                        <col width = "25%">
                                        <col width = "*">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th>이름</th>
                                        <td>
                                            ${memberInfo.memberName}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>주소</th>
                                        <td>
                                            ${memberInfo.memberAddr1} ${memberInfo.memberAddr2}<br>${memberInfo.memberAddr3}
                                            <input class = "selectAddress" type = "hidden" value = "T">
                                            <input class = "addressee_input" type = "hidden" value = "${memberInfo.memberName}">
                                            <input class = "address1_input" type = "hidden" value = "${memberInfo.memberAddr1}">
                                            <input class = "address2_input" type = "hidden" value = "${memberInfo.memberAddr2}">
                                            <input class = "address3_input" type = "hidden" value = "${memberInfo.memberAddr3}">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class = "addressInfo_input_div addressInfo_input_div_2">
                                <table>
                                    <colgroup>
                                        <col width = "25%">
                                        <col width = "*">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th>이름</th>
                                        <td>
                                            <input class = "addressee_input">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>주소</th>
                                        <td>
                                            <input class = "selectAddress" type = "hidden" value = "F">
                                            <input class = "address1_input" readonly = "readonly"> <a class = "address_search_btn" onclick = "execution_daum_address()">주소 찾기</a><br>
                                            <input class = "address2_input" readonly = "readonly"><br>
                                            <input class = "address3_input" readonly = "readonly">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- 상품 정보 -->
                    <div class = "orderGoods_div">
                        <!-- 상품 종류 -->
                        <div class = "goods_kind_div">
                            주문상품 <span class = "goods_kind_div_kind"></span>종 <span class = "goods_kind_div_count"></span>개
                        </div>
                        <!-- 상품 테이블 -->
                        <table class = "goods_subject_table">
                            <colgroup>
                                <col width = "15%">
                                <col width = "45%">
                                <col width = "40%">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>이미지</th>
                                <th>상품 정보</th>
                                <th>판매가</th>
                            </tr>
                            </tbody>
                        </table>
                        <table class = "goods_table">
                            <colgroup>
                                <col width = "15%">
                                <col width = "45%">
                                <col width = "40%">
                            </colgroup>
                            <tbody>
                            <c:forEach items = "${orderList}" var = "ol">
                                <tr>
                                    <td>
                                        <div class = "image_wrap" data-bookid = "${ol.imageList[0].bookId}" data-filename = "${ol.imageList[0].fileName}" data-path = "${ol.imageList[0].uploadPath}"
                                             data-uuid = "${ol.imageList[0].uuid}">
                                            <img>
                                        </div>
                                    </td>
                                    <td>${ol.bookName}</td>
                                    <td class = "goods_table_price_td">
                                        <fmt:formatNumber pattern = "#,### 원" value = "${ol.salePrice}"/>
                                        | 수량 ${ol.bookCount}개
                                        <br>
                                        <fmt:formatNumber pattern = "#,### 원" value = "${ol.totalPrice}"/>
                                        <br>[
                                        <fmt:formatNumber pattern = "#,### 원" value = "${ol.totalPoint}"/>
                                        P]
                                        <input class = "individual_bookPrice_input" type = "hidden" value = "${ol.bookPrice}">
                                        <input class = "individual_salePrice_input" type = "hidden" value = "${ol.salePrice}">
                                        <input class = "individual_bookCount_input" type = "hidden" value = "${ol.bookCount}">
                                        <input class = "individual_totalPrice_input" type = "hidden" value = "${ol.salePrice * ol.bookCount}">
                                        <input class = "individual_point_input" type = "hidden" value = "${ol.point}">
                                        <input class = "individual_totalPoint_input" type = "hidden" value = "${ol.totalPoint}">
                                        <input class = "individual_bookId_input" type = "hidden" value = "${ol.bookId}">
                                    </td>
                                </tr>
                            </c:forEach>

                            </tbody>
                        </table>
                    </div>
                    <!-- 포인트 정보 -->
                    <div class = "point_div">
                        <div class = "point_div_subject">포인트 사용</div>
                        <table class = "point_table">
                            <colgroup>
                                <col width = "25%">
                                <col width = "*">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>포인트 사용</th>
                                <td>
                                    ${memberInfo.point} | <input class = "order_point_input" value = "0">원
                                    <a class = "order_point_input_btn order_point_input_btn_N" data-state = "N">모두사용</a>
                                    <a class = "order_point_input_btn order_point_input_btn_Y" data-state = "Y" style = "display: none;">사용취소</a>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- 주문 종합 정보 -->
                    <div class = "total_info_div">
                        <!-- 가격 종합 정보 -->
                        <div class = "total_info_price_div">
                            <ul>
                                <li>
                                    <span class = "price_span_label">상품 금액</span>
                                    <span class = "totalPrice_span">100000</span>원
                                </li>
                                <li>
                                    <span class = "price_span_label">배송비</span>
                                    <span class = "delivery_price_span">100000</span>원
                                </li>
                                <li>
                                    <span class = "price_span_label">할인금액</span>
                                    <span class = "usePoint_span">100000</span>원
                                </li>
                                <li class = "price_total_li">
                                    <strong class = "price_span_label total_price_label">최종 결제 금액</strong>
                                    <strong class = "strong_red">
									<span class = "total_price_red finalTotalPrice_span">
										1500000
									</span>원
                                    </strong>
                                </li>
                                <li class = "point_li">
                                    <span class = "price_span_label">적립예정 포인트</span>
                                    <span class = "totalPoint_span">7960원</span>
                                </li>
                            </ul>
                        </div>
                        <!-- 버튼 영역 -->
                        <div class = "total_info_btn_div">
                            <a class = "order_btn">결제하기</a>
                        </div>
                    </div>

                </div>

                <!-- 주문 요청 form -->
                <form action = "/order" class = "order_form" method = "post">
                    <!-- 주문자 회원번호 -->
                    <input name = "memberId" type = "hidden" value = "${memberInfo.memberId}">
                    <!-- 주소록 & 받는이-->
                    <input name = "addressee" type = "hidden">
                    <input name = "memberAddr1" type = "hidden">
                    <input name = "memberAddr2" type = "hidden">
                    <input name = "memberAddr3" type = "hidden">
                    <!-- 사용 포인트 -->
                    <input name = "usePoint" type = "hidden">
                    <!-- 상품 정보 -->
                </form>

            </div>

        </div>
    </div>    <!-- class="wrap" -->
    </div>    <!-- class="wrapper" -->
</article>
<!-- javascript -->
<script th:inline = "javascript">

    var order = [[${order}]] // 서버의 주문 값
    var product = [[${product}]]  // 주문한 상품

    //실제 복사하여 사용시에는 모든 주석을 지운 후 사용하세요
    BootPay.request({
        price: product.price.toString(), //실제 결제되는 가격

        // 관리자로그인 -> 결제설치 -> 인증키 및 보안 -> WEB Application ID
        application_id: "62a0dc64e38c3000235ae079",

        name: product.name, //결제창에서 보여질 이름
        pg: 'kakaopay',
        method: 'easy', //결제수단, 입력하지 않으면 결제수단 선택부터 화면이 시작합니다.
        show_agree_window: 0, // 부트페이 정보 동의 창 보이기 여부
        items: [
            {
                item_name: product.name, //상품명
                qty: 1, //수량
                unique: product.productNumber.toString(), //해당 상품을 구분짓는 primary key
                price: product.price, //상품 단가
            }
        ],
        user_info: [
            {
                username: '사용자 이름',
                email: '사용자 이메일',
                addr: '사용자 주소',
                phone: '010-1234-4567'
            }
        ],
        order_id: order.orderNumber, //고유 주문번호로, 생성하신 값을 보내주셔야 합니다.
    }).error(function (data) {
        //결제 진행시 에러가 발생하면 수행됩니다.
        console.log(data);
        location.replace("pay/delete?id=" + order.id)
    }).cancel(function (data) {
        //결제가 취소되면 수행됩니다.
        console.log(data);
        location.replace("pay/delete?id" + order.id)
    }).close(function (data) {
        // 결제창이 닫힐때 수행됩니다. (성공,실패,취소에 상관없이 모두 수행됨)
        console.log(data);
    }).done(function (data) {
        //결제가 정상적으로 완료되면 수행됩니다
        //비즈니스 로직을 수행하기 전에 결제 유효성 검증을 하시길 추천합니다.
        location.replace("pay/confirm?receipt_id=" + data.receipt_id);
        console.log(data);
    });
</script>
</body>
</html>