<!DOCTYPE html>
<html
        layout:decorate = "~{/layout/default_layout}"
        xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
      			

<head>	
	
		<title>faitmain</title>
	
</head>

<body>
	<article class = "lgf-1" layout:fragment = "content">
		 <div class = "container" th:action="@{/customer/detailGuide}">
		 <input type="hidden" name="boardType" value='L'/> 
		 <div class="btn_wrap text-center" >
			<a th:href="@{/customer/updateBoard}" class="btn btn-default waves-effect waves-light">수정</a>
		</div>
		<!-- 	<input type="hidden" name="boardType" value='L'/> --> 
				<tr >
					<td >
						 <!-- <textarea title="내용" id="contents" name="boardContent" th:text="${row.boardContent }"  ></textarea>	 -->	
							<th:block th:utext = "${customer.boardContent }"></th:block>
					</td>
				</tr>
		</div>
	</article>
	
</body>
</html> 
					