<!DOCTYPE html>
<html
        layout:decorate = "~{/layout/default_layout}"
        xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
      			

<head>	
	
		<title>faitmain</title>
	<style>
	 body, html {
        	height: 100%;
       }
       
	</style>
</head>

<body>
	<article class = "lgf-1" layout:fragment = "content">
		 <div class = "container" th:action="@{/customer/detailGuide}">
		 <input type="hidden" name="boardType" value='L'/> 
			<th:block sec:authorize="isAuthenticated()">
				 <span class="btn_wrap text-center" sec:authorize="hasRole('ROLE_admin')">
					<a th:href="@{/customer/updateBoard?boardType=L}" class="btn btn-default waves-effect waves-light">수정</a>
				</span>
				<span class="btn_wrap text-center" sec:authorize="hasRole('ROLE_admin')">
					<a th:href="@{/customer/listBoard?boardType=L}" class="btn btn-default waves-effect waves-light">목록</a>
				</span>
			</th:block>
		<!-- 	<input type="hidden" name="boardType" value='L'/> --> 
				<tr >
					<td >
						 <!-- <textarea title="내용" id="contents" name="boardContent" th:text="${row.boardContent }"  ></textarea>	 -->	
							<th:block th:utext = "${customer.boardContent }"></th:block>
					</td>
				</tr>
		</div>
	</article>
	
</body>
</html> 
					