<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.faitmain.domain.live.mapper.LiveMapper">
	
	<resultMap id="liveMap" type="Live">
		<result property="liveNumber" 	column="live_number" 		jdbcType="INTEGER"/>
		<result property="storeId" 		column="store_id" 				jdbcType="VARCHAR"/>
		<result property="liveTitle" 		column="live_title" 				jdbcType="VARCHAR"/>
		<result property="liveIntro" 		column="live_intro" 				jdbcType="VARCHAR"/>
		<result property="liveImage" 		column="live_image" 				jdbcType="VARCHAR"/>
		<result property="chattingStatus" 		column="chatting_status" 				jdbcType="BIT"/>
		<result property="liveStatus"			column="live_status"				jdbcType="BIT"/>
	</resultMap>
	
	<resultMap id="liveChatMap" type="LiveChat">
    	<result property="liveNumber" column="live_number" jdbcType="INTEGER" />
    	<result property="writer" column="writer" jdbcType="VARCHAR" />
    	<result property="chattingMessage" column="chatting_message" jdbcType="VARCHAR" />
    	<result property="sendDate" column="send_date" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <resultMap id="liveProductMap" type="LiveProduct">
    	<result property="liveProductNumber" column="live_product_number" jdbcType="INTEGER" />
    	<result property="liveNumber" column="live_number" jdbcType="INTEGER" />
    	<result property="liveReservationNumber" column="live_reservation_number" jdbcType="INTEGER" />
    	<result property="productNumber" column="product_number" jdbcType="INTEGER"/>
    	<result property="productMainImage" column="product_main_image" jdbcType="VARCHAR"/>
    </resultMap>
	
	
	
	<resultMap id="liveReservationMap" type="LiveReservation">
    	<result property="liveReservationNumber" column="live_reservation_number" jdbcType="INTEGER" />
    	<result property="storeId" column="store_id" jdbcType="VARCHAR" />
    	<result property="reservationDate" column="resevation_date" jdbcType="DATE" />
    </resultMap>
    
    <resultMap id="liveUserStatusMap" type="LiveUserStatus">
    	<result property="liveNumber" column="live_number" jdbcType="INTEGER" />
    	<result property="id" column="id" jdbcType="VARCHAR" />
    	<result property="alarmStatus" column="alarm_status" jdbcType="BIT" />
    	<result property="kickStatus" column="kick_status" jdbcType="BIT" />
    	<result property="dumbStatus" column="dumb_status" jdbcType="BIT" />
    </resultMap>
    
    <!-- ================================================================================= ADD =================================================================================== -->
    <!-- ADD Live -->
    <insert id="addLive" parameterType="Live">
    	INSERT INTO live
		    ( store_id, live_title, live_intro, live_image, chatting_status, live_status )
		VALUES
		    ( #{storeId}, #{liveTitle}, #{liveIntro}, #{liveImage}, #{chattingStatus}, 0 )
    
    </insert>
    
    <!-- ADD LiveChat -->
     <insert id="addLiveChat" parameterType="LiveChat">
    	INSERT INTO live_chat
		    (live_number, writer, chatting_message, send_date)
		VALUES
		    (#{liveNumber}, #{writer}, #{chattingMessage}, NOW())
    </insert>
    
    <!-- ADD LiveProduct -->
     <insert id="addLiveProduct" parameterType="LiveProduct">
    	INSERT INTO live_product
		    (live_number, live_reservation_number, product_number, product_main_image)
		VALUES
		    (#{liveNumber}, #{liveReservationNumber}, #{productNumber}, #{productMainImage})
    </insert>
    
    <!-- ADD LiveReservation -->
     <insert id="addLiveReservation" parameterType="LiveReservation">
    	INSERT INTO live_reservation
		    (store_id, reservation_date)
		VALUES
		    (#{storeId}, #{reservationDate})
    </insert>
    
    <!-- ADD LiveUserStatus -->
     <insert id="addLiveUserStatus" parameterType="LiveUserStatus">
    	INSERT INTO live_user_status
    		(live_number, id, alarm_status, kick_status, dumb_status)
    	VALUES
    		(#{liveNumber}, #{id}, 0, 0, 0)
    </insert>
    
    
    <!-- ================================================================================= UPDATE============================================================================== -->
    <!-- UPDATE Live -->
    <update id="updateLive" parameterType="Live">
    	UPDATE live
    	<set>
    		store_id = #{storeId}, 
		    live_title = #{liveTitle}, 
		    live_intro = #{liveIntro}, 
		    live_image = #{liveImage}, 
		    chatting_status = #{chattingStatus},
		    live_status = #{liveStatus}
    	</set>
    	WHERE live_number = #{liveNumber}
    </update>
    
    <!-- UPDATE LiveChat (필요없음) -->
    
    <!-- UPDATE LiveProduct (필요없음) -->
    
    <!-- UPDATE LiveReservation (신중했어야지) -->
    
    <!-- UPDATE LiveUserStatus -->
    <update id="updateLiveUserStatus" parameterType="LiveUserStatus">
    	UPDATE live_user_status
    	<set>
    		alarm_status = #{alarmStatus},
    		kick_status = #{kickStatus},
    		dumb_status = #{dumbStatus}
    	</set>
    	<where>
    		live_number = #{liveNumber}
    		AND id = #{id}
    	</where>
    </update>
    
    
    
    
    
    <!-- ================================================================================= GET ============================================================================== -->
    <!-- GET Live -->
    <select id="getLive" parameterType="int" resultMap="liveMap">
    	SELECT * FROM live
		WHERE live_number = #{liveNumber}
    </select>
    
    <!-- GET LiveProduct -->
    <select id="getLiveProduct" parameterType="LiveProduct" resultMap="liveProductMap">
    	SELECT * FROM live_product
    	WHERE live_product_number = #{liveProductNumber}
    </select>

	<!-- GET LiveUserStatus -->
	<select id="getLiveUserStatus" parameterType="LiveUserStatus" resultMap="liveUserStatusMap">
		SELECT * FROM live_user_status
		<where>
			live_number = #{liveNumber}
			AND id = #{id}
		</where>
	</select>
    
    
    
    <!-- ================================================================================= GET LIST ============================================================================== -->
    <!-- GET LIST Live -->
    <select id="getLiveList" resultMap="liveMap">
    	SELECT * FROM live
    	WHERE live_status = 1;
    </select>
    
    <!-- GET LIST LiveChat -->
    <select id="getLiveChatList" parameterType="LiveChat" resultMap="liveChatMap">
    	SELECT * FROM live_chat
    	<where>
    		live_number = #{liveNumber}
    		AND writer = #{writer}
    	</where>
    </select>
    
    <!-- GET LIST LiveProduct -->
    <select id="getLiveProductList" parameterType="LiveProduct" resultMap="liveProductMap">
    	SELECT * FROM live_product
    	<if test="#{liveReservationNumber} == 0">
    		<where>
    			live_number = #{liveNumber}
    		</where>
    	</if>
    	<if test="#{liveNumber} == 0">
    		<where>
    			live_reservation_number = #{liveReservationNumber}
    		</where>
    	</if>
    </select>
    
    <!-- GET LIST ListUserStatus -->
    <select id="getLiveUserStatusList" parameterType="LiveUserStatus" resultMap="liveUserStatusMap">
		SELECT * FROM live_user_status
		<where>
			live_number = #{liveNumber}
		</where>
	</select>


	<!-- ================================================================================= DELETE ============================================================================== -->
	<delete id="deleteLiveProduct" parameterType="LiveProduct">
		DELETE FROM live_product_list
		<where>
			live_number = #{liveNumber}
		</where>
	</delete>
	
	
</mapper>