<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.faitmain.domain.order.mapper.OrderMapper">


    <insert id="addOrder" parameterType="com.faitmain.domain.order.domain.Order">
        INSERT INTO `order` ( product_number
                            , buyer_id
                            , store_id
                            , order_bundle_number
                            , order_date
                            , order_quantity
                            , order_status
                            , receiver_name
                            , receiver_phone
                            , receiver_address
                            , receiver_request
                            , delivery_tracking_number
                            , delivery_company_code
                            , payment_option
                            , total_payment_price
                            , reward_point
                            , using_point
                            , order_claim_request_date
                            , order_claim_response_date
                            , order_claim_reason
                            )
        VALUES ( #{product_number}
               , #{buyer_id}
               , #{store_id}
               , #{order_bundle_number}
               , #{order_date}
               , #{order_quantity}
               , #{order_status}
               , #{receiver_name}
               , #{receiver_phone}
               , #{receiver_address}
               , #{receiver_request}
               , #{delivery_tracking_number}
               , #{delivery_company_code}
               , #{payment_option}
               , #{total_payment_price}
               , #{reward_point}
               , #{using_point}
               , #{order_claim_request_date}
               , #{order_claim_response_date}
               , #{order_claim_reason}
               );
    </insert>

    <update id="updateOrder" parameterType="com.faitmain.domain.order.domain.Order">
        UPDATE `order`
           SET product_number            = #{product_number}
             , buyer_id                  = #{buyer_id}
             , store_id                  = #{store_id}
             , order_bundle_number       = #{order_bundle_number}
             , order_date                = #{order_date}
             , order_quantity            = #{order_quantity}
             , order_status              = #{order_status}
             , receiver_name             = #{receiver_name}
             , receiver_phone            = #{receiver_phone}
             , receiver_address          = #{receiver_address}
             , receiver_request          = #{receiver_request}
             , delivery_tracking_number  = #{delivery_tracking_number}
             , delivery_company_code     = #{delivery_company_code}
             , payment_option            = #{payment_option}
             , total_payment_price       = #{total_payment_price}
             , reward_point              = #{reward_point}
             , using_point               = #{using_point}
             , order_claim_request_date  = #{order_claim_request_date}
             , order_claim_response_date = #{order_claim_response_date}
             , order_claim_reason        = #{order_claim_reason}
         WHERE order_number = 1;
    </update>

    <select id="getOrder" parameterType="int" resultType="com.faitmain.domain.order.domain.Order">
        SELECT *
          FROM `order`
         WHERE order_number = #{order_number}
    </select>

    <select id="findAll" resultType="com.faitmain.domain.order.domain.Order">
        SELECT order_number
             , product_number
             , buyer_id
             , store_id
             , order_bundle_number
             , order_date
             , order_quantity
             , order_status
             , receiver_name
             , receiver_phone
             , receiver_address
             , receiver_request
             , delivery_tracking_number
             , delivery_company_code
             , payment_option
             , total_payment_price
             , reward_point
             , using_point
             , order_claim_request_date
             , order_claim_response_date
             , order_claim_reason
          FROM `order`
         ORDER BY order_number DESC
         LIMIT 0, 10;
    </select>


</mapper>