<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.faitmain.domain.order.mapper.OrderMapper">

    <resultMap id="OrderMap" type="Order">

    </resultMap>
    <insert id="addOrder" parameterType="Order" useGeneratedKeys="true" keyProperty="orderNumber">
        INSERT INTO `order` ( product_number
                            , buyer_id
                            , store_id
                            , order_bundle_number
                            , order_date
                            , order_quantity
                            , order_status
                            , receiver_name
                            , receiver_phone
                            , receiver_address
                            , receiver_request
                            , delivery_tracking_number
                            , delivery_company_code
                            , payment_option
                            , total_payment_price
                            , reward_point
                            , using_point
                            , order_claim_request_date
                            , order_claim_response_date
                            , order_claim_reason
                            )
        VALUES ( #{productNumber}
               , #{buyerId}
               , #{storeId}
               , #{orderBundleNumber}
               , #{orderDate}
               , #{orderQuantity}
               , #{orderStatus}
               , #{receiverName}
               , #{receiverPhone}
               , #{receiverAddress}
               , #{receiverRequest}
               , #{deliveryTrackingNumber}
               , #{deliveryCompanyCode}
               , #{paymentOption}
               , #{totalPaymentPrice}
               , #{rewardPoint}
               , #{usingPoint}
               , #{orderClaimRequestDate}
               , #{orderClaimResponseDate}
               , #{orderClaimReason}
               );
    </insert>

    <update id="updateOrder" parameterType="Order" useGeneratedKeys="true" keyProperty="orderNumber">
        UPDATE `order`
           SET order_number              = #{orderNumber}
             , order_status              = #{orderStatus}
             , receiver_name             = #{receiverName}
             , receiver_phone            = #{receiverPhone}
             , receiver_address          = #{receiverAddress}
             , receiver_request          = #{receiverRequest}
             , delivery_tracking_number  = #{deliveryTrackingNumber}
             , delivery_company_code     = #{deliveryCompanyCode}
             , order_claim_reason        = #{orderClaimReason}
         WHERE order_number = #{orderNumber};
    </update>

    <select id="getOrder" parameterType="Order" resultType="Order">
        SELECT *
          FROM `order`
         WHERE order_number = #{order_number}
    </select>

    <select id="getOrderList" resultType="Order">
        SELECT *
          FROM `order`
         ORDER BY order_number DESC
         LIMIT 0, 10;
    </select>


</mapper>