<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.faitmain.domain.product.mapper.ProductMapper">

	<resultMap id="productSelectMap" type="product">
		<result property="productNumber" 	column="product_number" 		jdbcType="INT"/>
		<result property="productName"		column="product_name" 			jdbcType="VARCHAR" />
		<result property="price" 			column="price" 					jdbcType="INT" />
		<result property="productMainImage" column="product_main_image" 	jdbcType="VARCHAR" />
		<result property="productDetail" 	column="product_detail"			jdbcType="LONGTEXT" />
		<result property="productQuantity" 	column="product_quantity" 		jdbcType="INT" />
		<result property="categoryCode" 	column="product_category_code" 	jdbcType="CHAR" />
		<result property="productStatus" 	column="product_status" 		jdbcType="CHAR" />
		<result property="productRegDate" 	column="reg_date" 				jdbcType="DATETIME" />
		<result property="deliveryCharge" 	column="delivery_charge" 		jdbcType="INT" />
		
		<association property="store"  javaType="com.faitmain.domain.user.domain.User">
			<id property="id" column="id" jdbcType="VARCHAR"/>			
		</association>
	</resultMap>
	
	
    <insert id="insertProduct">
       
    </insert>
    
    <select id="getProduct" parameterType="int"	resultMap="productSelectMap">
    	SELECT * 
    	FROM product
    	WHERE product_number = #{value} 
    </select>

    <update id="updateProduct">
        
    </update>


</mapper>