<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
					
<mapper namespace="com.faitmain.domain.product.mapper.ProductMapper">

	<resultMap id="productSelectMap" type="com.faitmain.domain.product.domain.Product">
		<result property="productNumber" 		column="product_number" 		jdbcType="INT"/>
		<result property="productName"			column="product_name" 			jdbcType="VARCHAR" />
		<result property="price" 				column="price" 					jdbcType="INT" />
		<result property="productMainImage" 	column="product_main_image" 	jdbcType="VARCHAR" />
		<result property="productDetail" 		column="product_detail"			jdbcType="LONGTEXT" />
		<result property="productQuantity" 		column="product_quantity" 		jdbcType="INT" />
		<result property="categoryCode" 		column="product_category_code" 	jdbcType="CHAR" />
		<result property="productStatus" 		column="product_status" 		jdbcType="CHAR" />
		<result property="productRegDate" 		column="reg_date" 				jdbcType="DATETIME" />
		<result property="deliveryCharge" 		column="delivery_charge" 		jdbcType="INT" />
		<result property="productGroupNumber" 	column="product_group_number" 	jdbcType="INT" />
		
		<association property="store"  javaType="com.faitmain.domain.user.domain.User">
			<id property="id" column="id" jdbcType="VARCHAR"/>
		</association>
	</resultMap>

	<insert id="addProduct" parameterType="com.faitmain.domain.product.domain.Product">		
		INSERT
		INTO product(product_name, price, store_id, product_main_image, product_detail, product_category_code, reg_date, delivery_charge, product_quantity, product_group_number)
		VALUES (#{productName}, #{price}, #{store.id}, #{productMainImage}, #{productDetail:LONGTEXT}, #{categoryCode}, NOW(), #{deliveryCharge}, #{productName}, #{productQuantity}, #{product_group_number:INT});
	</insert>	
	
	<select id="getProductNumber" resultType="int">
    	SELECT product_number 
    	FROM product
    	ORDER BY product_number DESC LIMIT 1 
    </select>
	    
    <select id="getProduct" parameterType="int"	resultMap="productSelectMap">
    	SELECT * 
    	FROM product
    	WHERE product_number = #{value} 
    </select>
	
	<!-- SQL : SELECT LIST (현재 search 없음) -->
	<select  id="getProductList"  parameterType="map"	resultMap="productSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  			FROM		(	SELECT p.*
								FROM product p
								<where>
									p.product_status != '02'
									<if test="searchCondition != null">
									<!-- <if test="searchCondition == 0 and searchKeyword !='' ">
							 				AND p.prod_no = #{searchKeyword}
										</if> -->
										<if test="searchCondition == 1 and searchKeyword !='' ">
							 				AND p.product_name LIKE '%'||#{searchKeyword}||'%'
										</if>										
									<!-- <if test="searchCondition == 2 and searchKeyword !='' ">
							 				AND p.prod_name LIKE '%'||#{searchKeyword}||'%'
										</if> -->																							
									</if>
									<if test="categoryCode != null">
										AND p.product_category_code = #{categoryCode}
									</if>
								</where>
						ORDER BY product_number DESC ) inner_table
				WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 		
	<!-- SQL : SELECT ROW Count (현재 search 없음) -->	 
	<select  id="getTotalCount"  parameterType="com.faitmain.domain.model.Search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT product_number, product_name , price, reg_date
				FROM product						
				<where>
					<if test="searchCondition != null">
					<!-- <if test="searchCondition == 0 and searchKeyword !='' ">
				 			prod_no = #{searchKeyword}
						</if> -->
						<if test="searchCondition == 1 and searchKeyword !='' ">
				 			product_name LIKE '%'||#{searchKeyword}||'%'
						</if>
					</if>
					<if test="categoryCode != null">
							AND product_category_code = #{categoryCode}
					</if>
				</where>
			) countTable						
	 </select> 

	<update id="updateProduct" parameterType="com.faitmain.domain.product.domain.Product">
		UP
	</update>
</mapper>